extends ../templates/base

block content
    div(class="page-inner page-inner--w1")
        div(class="article")
            div(class="page-title page-title--big") А вот и скидки вырисовываются
            div(class="article-info") Каждый вторник в Горизонте вас ждут скидки и приятные сюрпризы
            div(class="article-shop") New yorker
            div(class="article-social")
                span(class="article-social-text") поделиться &#8212
                a(href="https://www.instagram.com/?hl=ru", target="_blank", title="Instagram", class="social-item social-item--instagram")
                    svg(id="Слой_1", data-name="Слой 1", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 15.06 15.06")
                        title Instagram
                        path(id="_Составной_контур_", data-name="&lt;Составной контур&gt;", d="M74.76,122.49a3.84,3.84,0,0,0-2.2-2.2,5.49,5.49,0,0,0-1.83-.35c-0.8,0-1.06,0-3.11,0s-2.3,0-3.11,0a5.46,5.46,0,0,0-1.83.35,3.84,3.84,0,0,0-2.2,2.2,5.5,5.5,0,0,0-.35,1.83c0,0.8,0,1.06,0,3.11s0,2.3,0,3.11a5.47,5.47,0,0,0,.35,1.83,3.84,3.84,0,0,0,2.2,2.2,5.5,5.5,0,0,0,1.83.35c0.8,0,1.06,0,3.11,0s2.3,0,3.11,0a5.46,5.46,0,0,0,1.83-.35,3.84,3.84,0,0,0,2.2-2.2,5.49,5.49,0,0,0,.35-1.83c0-.8,0-1.06,0-3.11s0-2.3,0-3.11A5.46,5.46,0,0,0,74.76,122.49Zm-1,8a4.12,4.12,0,0,1-.26,1.4,2.33,2.33,0,0,1-.56.87,2.36,2.36,0,0,1-.87.56,4.15,4.15,0,0,1-1.4.26c-0.8,0-1,0-3,0s-2.25,0-3,0a4.12,4.12,0,0,1-1.4-.26,2.33,2.33,0,0,1-.87-0.56,2.36,2.36,0,0,1-.56-0.87,4.15,4.15,0,0,1-.26-1.4c0-.8,0-1,0-3s0-2.25,0-3a4.12,4.12,0,0,1,.26-1.4,2.33,2.33,0,0,1,.56-0.87,2.36,2.36,0,0,1,.87-0.56,4.15,4.15,0,0,1,1.4-.26c0.8,0,1,0,3,0s2.25,0,3,0a4.12,4.12,0,0,1,1.4.26A2.5,2.5,0,0,1,73.49,123a4.15,4.15,0,0,1,.26,1.4c0,0.8,0,1,0,3S73.78,129.68,73.75,130.47Z",transform="translate(-60.09 -119.9)" fill="#373636")
                        path(id="_Составной_контур_2", data-name="&lt;Составной контур&gt;", d="M67.61,123.56a3.87,3.87,0,1,0,3.87,3.87A3.87,3.87,0,0,0,67.61,123.56Zm0,6.38a2.51,2.51,0,1,1,2.51-2.51A2.51,2.51,0,0,1,67.61,129.94Z" transform="translate(-60.09 -119.9)", fill="#373636")
                        circle(id="_Контур_", data-name="&lt;Контур&gt;", cx="11.55", cy="3.51", r="0.9", fill="#373636")
                a(href="https://ru-ru.facebook.com", target="_blank", title="Facebook", class="social-item social-item--facebook")
                    svg(id="Слой_1", data-name="Слой 1", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 7.44 16.02")
                        title Facebook
                        path( d="M129.41,124.06h-2.54V122.4a0.68,0.68,0,0,1,.71-0.77h1.79v-2.75h-2.46a3.12,3.12,0,0,0-3.36,3.36v1.83H122v2.83h1.58v8h3.33v-8h2.24Z", transform="translate(-121.97 -118.87)", fill="#373636")            
                a(href="https://ok.ru", target="_blank", title="Одноклассники", class="social-item social-item--ok")
                    svg(id="Слой_1", data-name="Слой 1", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 10.95 18.23")
                        title Ok
                        path( d="M185.44,127.31a4.62,4.62,0,1,1,3.26-1.35A4.45,4.45,0,0,1,185.44,127.31Zm0-6.89a2.27,2.27,0,1,0,1.6.67A2.18,2.18,0,0,0,185.44,120.43Zm5.32,7.44a1.48,1.48,0,0,1,.15.5,1,1,0,0,1,0,.41,1.15,1.15,0,0,1-.27.39,3.47,3.47,0,0,1-.43.38l-0.63.42a7.43,7.43,0,0,1-3.2,1l0.74,0.73,2.72,2.72a1,1,0,0,1,.31.75,1,1,0,0,1-.31.74l-0.12.13a1.08,1.08,0,0,1-1.51,0l-2.72-2.73L182.74,136a1,1,0,0,1-.75.31,1,1,0,0,1-.74-0.31l-0.12-.13a1,1,0,0,1-.32-0.74,1,1,0,0,1,.32-0.75l2.72-2.72,0.73-.73a7.41,7.41,0,0,1-3.22-1l-0.63-.42a3.47,3.47,0,0,1-.43-0.38,1.15,1.15,0,0,1-.27-0.39,1,1,0,0,1,0-.41,1.48,1.48,0,0,1,.15-0.5,1.1,1.1,0,0,1,.28-0.36,1.17,1.17,0,0,1,.43-0.22,1,1,0,0,1,.57,0,1.92,1.92,0,0,1,.66.36l0.15,0.11,0.44,0.25a5.43,5.43,0,0,0,.7.31,6.54,6.54,0,0,0,.94.24,6.08,6.08,0,0,0,2.92-.15,4.85,4.85,0,0,0,1.22-.51l0.39-.25a1.92,1.92,0,0,1,.66-0.36,1,1,0,0,1,.57,0,1.17,1.17,0,0,1,.43.22A1.1,1.1,0,0,1,190.76,127.87Z", transform="translate(-179.97 -118.09)", fill="#373636")
            img(src="../dummy/two_girls_big.jpg", class="article-img")
            div(class="page-text")
                p Популяционный индекс, после осторожного анализа, выслеживает тропический год. Аномальная джетовая активность прекрасно представляет собой популяционный индекс. Скоpость кометы в пеpигелии, несмотря на внешние воздействия, точно вызывает восход . Экскадрилья, несмотря на внешние воздействия, доступна. Прямое восхождение, несмотря на внешние воздействия, иллюстрирует лимб.
                p Нулевой меридиан иллюстрирует непреложный Млечный Путь. Южный Треугольник, в первом приближении, слабопроницаем. Скоpость кометы в пеpигелии, как бы это ни казалось парадоксальным, выслеживает популяционный индекс. Годовой параллакс меняет большой круг небесной сферы. Очевидно, что астероид последовательно вращает аргумент перигелия. Элонгация на следующий год, когда было лунное затмение и сгорел древний храм Афины в Афинах (при эфоре Питии и афинском архонте Каллии), традиционно меняет метеорный дождь.
                
        div(class="similar-shares")
            div(class="similar-shares-title") Вас также может заитерисовать
            div(class="similar-shares-items")
                a(href="#", class="similar-shares-item link link--darkgray")
                    div(class="similar-shares-item-heading")
                        img(src="../dummy/flor.jpg", class="similar-shares-item-photo")
                    div(class="similar-shares-item-content")
                        div(class="similar-shares-item-content-title") 1 и 9
                        div(class="similar-shares-item-content-text") Каждый вторник в Горизонте вас ждут скидки и приятные сюрпризы
                        div(class="similar-shares-item-content-shop") Mustang
                a(href="#", class="similar-shares-item link link--darkgray")
                    div(class="similar-shares-item-heading")
                        img(src="../dummy/strawberries.jpg", class="similar-shares-item-photo")
                    div(class="similar-shares-item-content")
                        div(class="similar-shares-item-content-title") Лето до 1 августа
                        div(class="similar-shares-item-content-text") Каждый вторник в Горизонте вас ждут скидки и приятные сюрпризы
                        div(class="similar-shares-item-content-shop") ТРК &#171Горизонт&#187
                a(href="#", class="similar-shares-item link link--darkgray")
                    div(class="similar-shares-item-heading")
                        img(src="../dummy/strawberries.jpg", class="similar-shares-item-photo")
                    div(class="similar-shares-item-content")
                        div(class="similar-shares-item-content-title") 1 и 9
                        div(class="similar-shares-item-content-text") Каждый вторник в Горизонте вас ждут скидки и приятные сюрпризы
                        div(class="similar-shares-item-content-shop") levis
        
        div(class="navigation")
            div(class="navigation-items")
                a(href="#", class="navigation-item navigation-item--close")
                    svg(id="Слой_1", data-name="Слой 1", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 14.41 14.41")
                      title Close
                      g
                        path(d="M167.35,617.75a0.87,0.87,0,0,1-.62-0.26l-12.66-12.66a0.88,0.88,0,0,1,1.24-1.24L168,616.26A0.88,0.88,0,0,1,167.35,617.75Z", transform="translate(-153.82 -603.34)", fill="#373636")
                        path(d="M154.69,617.75a0.88,0.88,0,0,1-.62-1.49l12.66-12.66a0.88,0.88,0,0,1,1.24,1.24L155.31,617.5A0.87,0.87,0,0,1,154.69,617.75Z", transform="translate(-153.82 -603.34)", fill="#373636")
                a(href="#", class="navigation-item navigation-item--next")
                    svg(id="Слой_1", data-name="Слой 1" xmlns="http://www.w3.org/2000/svg", viewBox="0 0 21.09 25.75")
                        title Arrow black up
                        path(d="M44.86,409.19a0.88,0.88,0,0,1-.62-1.49L54,398a0.88,0.88,0,1,1,1.24,1.24l-9.73,9.73A0.87,0.87,0,0,1,44.86,409.19Z", transform="translate(-43.98 -397.71)", fill="#373636")
                        path(d="M64.2,409.07a0.87,0.87,0,0,1-.62-0.26L54,399.2A0.88,0.88,0,1,1,55.21,398l9.61,9.61A0.88,0.88,0,0,1,64.2,409.07Z", transform="translate(-43.98 -397.71)", fill="#373636")
                        path(d="M54.59,423.46a0.87,0.87,0,0,1-.87-0.87v-24a0.87,0.87,0,1,1,1.75,0v24A0.87,0.87,0,0,1,54.59,423.46Z", transform="translate(-43.98 -397.71)", fill="#373636")
                a(href="#", class="navigation-item navigation-item--prev")
                    svg(id="Слой_1", data-name="Слой 1" xmlns="http://www.w3.org/2000/svg", viewBox="0 0 21.09 25.75")
                        title Arrow black up
                        path(d="M44.86,409.19a0.88,0.88,0,0,1-.62-1.49L54,398a0.88,0.88,0,1,1,1.24,1.24l-9.73,9.73A0.87,0.87,0,0,1,44.86,409.19Z", transform="translate(-43.98 -397.71)", fill="#373636")
                        path(d="M64.2,409.07a0.87,0.87,0,0,1-.62-0.26L54,399.2A0.88,0.88,0,1,1,55.21,398l9.61,9.61A0.88,0.88,0,0,1,64.2,409.07Z", transform="translate(-43.98 -397.71)", fill="#373636")
                        path(d="M54.59,423.46a0.87,0.87,0,0,1-.87-0.87v-24a0.87,0.87,0,1,1,1.75,0v24A0.87,0.87,0,0,1,54.59,423.46Z", transform="translate(-43.98 -397.71)", fill="#373636")
