extends ../templates/base

block content
    div(class="page-inner page-inner--w1")
        div(class="page-title") Концепция
        div(class="concept")
            div(class="search")
                form(action="/search.html", class="search-form")
                    input(type="text", class="search-input", placeholder="Поиск магазина")
                    button(type="submit", title="Найти", class="search-submit")
                    
    div(class="background-prev")
        img(src="../dummy/concept_background.jpg", class="background-prev-img")
        
    div(class="page-inner page-inner--w1")
        div(class="concept")    
            div(class="page-text")
                cite «Горизонт» — это место Вашего комфорта... постоянно развивается, открывая новые проекты, которые будут интересны и востребованы нашими покупателями. 
                p Проспект М. Нагибина, на котором расположен ТРК «Мегацентр Горизонт» является одной из основных автомагистралей г.Ростова-на-Дону, ведущая из центра города в крупные жилые микрорайоны, в которых проживает более трети населения города. Прямая трасса из Краснодара в Ростов также ведет к проспекту Нагибина.
                div(class="docs")
                    a(href="#", class="docs-item")
                        span(class="docs-item-icon") .pdf
                        span(class="docs-item-text") Наша Концепция безупречного развития
                    a(href="#", class="docs-item")
                        span(class="docs-item-icon") .pdf
                        span(class="docs-item-text") 7 успешных правил ТРК «Горизонт»
            
    div(class="offers")
        div(class="page-inner page-inner--w1 page-inner--relative")
            div(class="offers-items")
                a(href="shops.html", class="link offers-item offers-item--w1")
                    div(class="offers-item-heading")
                        div(class="link--darkgray offers-item-heading-tag", style="background: #59489e") Кино.
                        div(class="link--darkgray offers-item-heading-info") 8 кинозалов
                    div(class="offers-item-content")
                        img(src="../dummy/films.jpg", class="offers-item-content-img")
                    
                a(href="shops.html", class="link offers-item offers-item--w1")
                    div(class="offers-item-heading")
                        div(class="link--darkgray offers-item-heading-tag", style="background: #a24098") Детям.
                        div(class="link--darkgray offers-item-heading-info") Детский город, для ваших детей
                    div(class="offers-item-content")
                        img(src="../dummy/children.jpg", class="offers-item-content-img")

                a(href="shops.html", class="link offers-item offers-item--w2")
                    div(class="offers-item-heading")
                        div(class="link--darkgray offers-item-heading-tag", style="background: #ef4784") Фитнес.
                        div(class="link--darkgray offers-item-heading-info") Спорт и развлечения рядом
                    div(class="offers-item-content")
                        img(src="../dummy/fitnes.jpg", class="offers-item-content-img")
                        
                a(href="shops.html", class="link offers-item offers-item--w2")
                    div(class="offers-item-heading")
                        div(class="link--darkgray offers-item-heading-tag", style="background: #a77ab5") Одежда.
                        div(class="link--darkgray offers-item-heading-info") 98 брендов
                    div(class="offers-item-content")
                        img(src="../dummy/clothes.jpg", class="offers-item-content-img")
                        
                a(href="shops.html", class="link offers-item offers-item--w2")
                    div(class="offers-item-heading")
                        div(class="link--darkgray offers-item-heading-tag", style="background: #faaf78") Удовольствие.
                        div(class="link--darkgray offers-item-heading-info") Огромный фудкорт
                    div(class="offers-item-content")
                        img(src="../dummy/food.jpg", class="offers-item-content-img")
