extends ../templates/base

block content
    div(class="page-inner page-inner--w1")
        div(class="page-title") Контакты
        div(class="contacts")
            div(class="contacts-welcome")
                span(class="contacts-welcome-title") Рады приветствовать Вас от лица нашей команды профессионалов
            div(class="contacts-items")
                div(class="contacts-item contacts-item--left")
                    div(class="contacts-employees-holder")
                        img(src="../dummy/photo_director.jpg", class="contacts-employees-holder")
                    div(class="contacts-employees-description")
                        span(class="contacts-employees-position") Генеральный директор
                        span(class="contacts-employees-name") Полонский Дан Эммануилович
                div(class="contacts-item contacts-item--right")
                    div(class="contacts-employees-holder contacts-employees-holder--left")
                        img(src="../dummy/zam_directora.jpg", class="contacts-employees-holder")
                    div(class="contacts-employees-description")
                        span(class="contacts-employees-position") Заместитель генерального директора, директор департамента управления активами, маркетинга и правового обеспечения
                        span(class="contacts-employees-name") Заболоцкая Елена Николаевна
            div(class="contacts-departments")
                span(class="contacts-departments-title") Решить любые вопросы Вам помогут
                div(class="contacts-departments-items")
                    div(class="contacts-departments-item")
                        div(class="contacts-departments-item-name") Коммерческий отдел
                        a(href="tel:+78632725108", class="link link--darkgray contacts-departments-item-phone") (863) 2725-108
                        div(class="contacts-departments-item-time") Пн-пт c 09:00 до 18:00
                    div(class="contacts-departments-item")
                        div(class="contacts-departments-item-name") Рекламный отдел
                        a(href="tel:+78632725108", class="link link--darkgray contacts-departments-item-phone") (863) 2725-108 доб. 109
                        div(class="contacts-departments-item-time") Пн-вт c 09:00 до 18:00
                        div(class="contacts-departments-item-time") Чт-пт c 11:00 до 15:00
            a(href="#form-open", class="link link--darkgray contacts-application")  
                span Заявка на аренду
    div(class="contacts-location")
        div(class="page-inner page-inner--w1")
            div(class="contacts-location-title") Россия, Ростов-на-Дону, проспкт Михаила Нагибина
        div(class="contacts-location-container")
            div(class="contacts-location-container-holder")
                img(src="../dummy/gorizont_photo.jpg", class="contacts-location-container-holder-img")
            div(class="contacts-location-container-map", data-center="[47.2586, 39.7203]", data-zoom="17", data-points='[{name:"1", position: "47.2597, 39.7198", icon: "../svg/icons/point_map_blue.svg", description:"г. Ростов-На-Дону, пр. Нагибина, 32ж"}]')
    div(id="form-open", class="form white-popup mfp-hide")
        span(class="form-title") Заявка на аренду
        form(action="#")        
            div(class="form-items")       
                span(class="form-information") Информация об Арендаторе:
                div(class="form-container-item")
                    span(class="form-container-item-name") Название компании и форма организации  
                    input(type="text", class="form-item")
                div(class="form-container-item")
                    span(class="form-container-item-name") Юридический / почтовый адрес (с индексом)
                    textarea(rows="5", class="form-item form-item--textarea")
                div(class="form-container-item")
                    span(class="form-container-item-name") Телефон (код страны, города)
                    input(type="text", class="form-item")
                div(class="form-container-item")
                    span(class="form-container-item-name") Электронная почта
                    input(type="text", class="form-item")
                div(class="form-container-item")
                    span(class="form-container-item-name") Сайт
                    input(type="text", class="form-item")
                div(class="form-container-item")
                    span(class="form-container-item-name") Контактное лицо, должность
                    input(type="text", class="form-item")
                div(class="form-container-item")
                    span(class="form-container-item-name") Тип бизнеса (франшиза или собственные магазины с указанием компании, предоставляющей бренд в России)
                    input(type="text", class="form-item")
                div(class="form-container-item")
                    span(class="form-container-item-name")  Формат проекта и требуемая площадь (магазин/павильон)
                    textarea(rows="7", class="form-item form-item--textarea")
                span(class="form-information") Информация о заявке Арендатора
                div(class="form-container-item")
                    span(class="form-container-item-name") Представляемые торговые марки магазины/павильоны (в формате монобренд/ мультибренд)
                    input(type="text", class="form-item")
                div(class="form-container-item")
                    span(class="form-container-item-name") Где представлены:
                    div(class="form-container-item-columns")
                        textarea(class="form-item form-item--textarea")
                        div(class="form-container-item-list")
                            ul
                                li в мире
                                li в России(в каких городах)
                                li в городах
                                li в каких ТЦ
                                li на каких этажах ТЦ
                                li рядом с какими магазинами представлены
                                li нет открытых магазинов/павильонов
                div(class="form-container-item")
                    span(class="form-container-item-name") Площадь и средний ежемесячный оборот каждого
                    input(type="text", class="form-item") 
                div(class="form-container-item form-container-item--columns")
                    span(class="form-container-item-name") Где представлены:
                    div(class="form-container-item-columns")
                        textarea(class="form-item form-item--textarea")
                        div(class="form-container-item-list")
                            ul
                                li одежда
                                li обувь
                                li ювелирные изделия
                                li аксессуары
                                li косметика
                                li рестораны, кафе
                                li спортивные товары
                                li сувениры, подарки
                                li товары для детей
                                li товары для дома
                                li аудио- видео- бытовая техника
                                li аппараты, банкоматы
                                li услуги
                                li равзлечения
                                li свой вариант ответа
                div(class="form-container-item")
                    span(class="form-container-item-name") Страна происхождения марки:
                    input(type="text", class="form-item") 
                div(class="form-container-item")
                    span(class="form-container-item-name") Целевая аудитория (муж/жен/дет.) и возраст целевой аудитории
                    input(type="text", class="form-item") 
                div(class="form-container-item")
                    span(class="form-container-item-name") Ценовая категория:
                    input(type="text", class="form-item") 
                div(class="form-container-item")
                    span(class="form-container-item-name") Средний чек:
                    input(type="text", class="form-item") 
                div(class="form-container-item")
                    span(class="form-container-item-name") Возможные сроки открытия:
                    input(type="text", class="form-item") 
                div(class="form-container-item")
                    span(class="form-container-item-name") Комментарии: 
                    input(type="text", class="form-item") 
                div(class="form-container-item")
                    span(class="form-container-item-name") Приложить файлы не более 5мб (презентация, 3D- визуализация проекта/оборудование, фото магазина/павильона(обязательно в цветном формате))
                    input(type="file", class="form-item form-item--file") 
                span(class="form-information form-information--mini") Обращаем Ваше внимание, что ТРК &#171Горизонт&#187 для павильонов ограничение по высоте (не выше 1.4 м)
                div(class="form-container-item form-container-item--center")
                    input(type="submit", class="btn btn--red form-item-submit", value="Отправить") 
