extends ../templates/base

block content
    div(class="page-inner page-inner--w1")
        div(class="page-title") Контакты
        div(class="contacts")
            div(class="contacts-welcome")
                span(class="contacts-welcome-title")
            div(class="contacts-items")
                div(class="contacts-item")
                    div(class="contacts-employees-holder contacts-employees-holder--left")
                        img(src="", class="contacts-employees-holder")
                    div(class="contacts-employees-description")
                        span(class="contacts-employees-position")
                        span(class="contacts-employees-name")
                div(class="contacts-item")
                    div(class="contacts-employees-holder contacts-employees-holder--left")
                        img(src="", class="contacts-employees-holder")
                    div(class="contacts-employees-description")
                        span(class="contacts-employees-position")
                        span(class="contacts-employees-name")
