extends ../templates/base

block content
    div(class="page-inner page-inner--w1 page-inner--relative")
        div(class="page-title") Сервис
    div(class="page-inner--w2")
        div(class="entertainment")
            div(class="search")
                form(action="/search.html")
                    input(type="text", class="search-item", placeholder="Поиск магазина")
                    button(type="submit", title="Найти", class="search-submit")
            div(class="acordeon-container-items")
                div(class="acordeon-container-item acordeon-container-item--blue", data-color="#993399")
                    div(class="page-inner page-inner--w1 page-inner--relative")
                        div(class="acordeon-container-item-header")
                            span(class="acordeon-container-item-header-name") Киномкс Дон
                            span(class="acordeon-container-item-header-count") 
                            div(class="acordeon-container-item-header-toggler")
                                span(class="acordeon-container-item-header-toggler-title")
                                span(class="acordeon-container-item-header-toggler-icon acordeon-container-item-header-toggler-icon--arrow")
                                    include ../../prod/svg/icons/arrow_white_up.svg
                        div(class="acordeon-container-item-content")
                            a(href="#", class="link link--white acordeon-container-item-content-link")
                            a(href="#", class="link link--white acordeon-container-item-content-link") 
                            a(href="#", class="link link--white acordeon-container-item-content-link")
                            a(href="#", class="link link--white acordeon-container-item-content-link")
                            a(href="#", class="link link--white acordeon-container-item-content-link") 
                                             
                div(class="acordeon-container-item acordeon-container-item--darkblue", data-color="#251440")
                    div(class="page-inner page-inner--w1 page-inner--relative")
                        div(class="acordeon-container-item-header")
                            span(class="acordeon-container-item-header-name") H2O
                            span(class="acordeon-container-item-header-count") 
                            div(class="acordeon-container-item-header-toggler")
                                span(class="acordeon-container-item-header-toggler-title")
                                span(class="acordeon-container-item-header-toggler-icon acordeon-container-item-header-toggler-icon--arrow")
                                    include ../../prod/svg/icons/arrow_white_up.svg
                        div(class="acordeon-container-item-content")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")

                div(class="acordeon-container-item  acordeon-container-item--red")
                    div(class="page-inner page-inner--w1 page-inner--relative")
                        div(class="acordeon-container-item-header")
                            span(class="acordeon-container-item-header-name") Capichi
                            span(class="acordeon-container-item-header-count") 
                            div(class="acordeon-container-item-header-toggler")
                                span(class="acordeon-container-item-header-toggler-title") 
                                span(class="acordeon-container-item-header-toggler-icon acordeon-container-item-header-toggler-icon--arrow")
                                    include ../../prod/svg/icons/arrow_white_up.svg
                        div(class="acordeon-container-item-content")
                            a(href="#", class="acordeon-container-item-content-link") Сбербанк России
                            a(href="#", class="acordeon-container-item-content-link") ВТБ Банк
                            a(href="#", class="acordeon-container-item-content-link") Газпромбанк
                            a(href="#", class="acordeon-container-item-content-link") ВТБ 24
                            a(href="#", class="acordeon-container-item-content-link") Россельхозбанк
                            a(href="#", class="acordeon-container-item-content-link") Банк "ФК Открытие"
                            a(href="#", class="acordeon-container-item-content-link") Альфа-Банк
                            a(href="#", class="acordeon-container-item-content-link") Московский Кредитный Банк
                            a(href="#", class="acordeon-container-item-content-link") Промсвязьбанк
                            a(href="#", class="acordeon-container-item-content-link") ЮниКредит Банк
                            a(href="#", class="acordeon-container-item-content-link") БинБанк
                            a(href="#", class="acordeon-container-item-content-link") Райфайзербанк

                div(class="acordeon-container-item acordeon-container-item--red", data-color="#d43d74")
                    div(class="page-inner page-inner--w1 page-inner--relative")
                        div(class="acordeon-container-item-header")
                            span(class="acordeon-container-item-header-name") DoubleB
                            span(class="acordeon-container-item-header-count") 
                            div(class="acordeon-container-item-header-toggler")
                                span(class="acordeon-container-item-header-toggler-title") 
                                span(class="acordeon-container-item-header-toggler-icon acordeon-container-item-header-toggler-icon--arrow")
                                    include ../../prod/svg/icons/arrow_white_up.svg
                        div(class="acordeon-container-item-content")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")

                div(class="acordeon-container-item acordeon-container-item--red")
                    div(class="page-inner page-inner--w1 page-inner--relative")
                        div(class="acordeon-container-item-header")
                            span(class="acordeon-container-item-header-name") Fornetto
                            span(class="acordeon-container-item-header-count") 
                            div(class="acordeon-container-item-header-toggler")
                                span(class="acordeon-container-item-header-toggler-title") 
                                span(class="acordeon-container-item-header-toggler-icon acordeon-container-item-header-toggler-icon--arrow")
                                    include ../../prod/svg/icons/arrow_white_up.svg
                        div(class="acordeon-container-item-content")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")

                div(class="acordeon-container-item acordeon-container-item--red")
                    div(class="page-inner page-inner--w1 page-inner--relative")
                        div(class="acordeon-container-item-header")
                            span(class="acordeon-container-item-header-name") Franklin's Burgers
                            span(class="acordeon-container-item-header-count") 
                            div(class="acordeon-container-item-header-toggler")
                                span(class="acordeon-container-item-header-toggler-title") 
                                span(class="acordeon-container-item-header-toggler-icon acordeon-container-item-header-toggler-icon--arrow")
                                    include ../../prod/svg/icons/arrow_white_up.svg
                        div(class="acordeon-container-item-content")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")

                div(class="acordeon-container-item acordeon-container-item--red")
                    div(class="page-inner page-inner--w1 page-inner--relative")
                        div(class="acordeon-container-item-header")
                            span(class="acordeon-container-item-header-name") Fruit Lab
                            span(class="acordeon-container-item-header-count") 
                            div(class="acordeon-container-item-header-toggler")
                                span(class="acordeon-container-item-header-toggler-title") 
                                span(class="acordeon-container-item-header-toggler-icon acordeon-container-item-header-toggler-icon--arrow")
                                    include ../../prod/svg/icons/arrow_white_up.svg
                        div(class="acordeon-container-item-content")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")

                div(class="acordeon-container-item acordeon-container-item--red")
                    div(class="page-inner page-inner--w1 page-inner--relative")
                        div(class="acordeon-container-item-header")
                            span(class="acordeon-container-item-header-name") KFC
                            span(class="acordeon-container-item-header-count") 
                            div(class="acordeon-container-item-header-toggler")
                                span(class="acordeon-container-item-header-toggler-title") 
                                span(class="acordeon-container-item-header-toggler-icon acordeon-container-item-header-toggler-icon--arrow")
                                    include ../../prod/svg/icons/arrow_white_up.svg
                        div(class="acordeon-container-item-content")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")

                div(class="acordeon-container-item acordeon-container-item--red")
                    div(class="page-inner page-inner--w1 page-inner--relative")
                        div(class="acordeon-container-item-header")
                            span(class="acordeon-container-item-header-name") Krispy Kreme
                            span(class="acordeon-container-item-header-count") 
                            div(class="acordeon-container-item-header-toggler")
                                span(class="acordeon-container-item-header-toggler-title") 
                                span(class="acordeon-container-item-header-toggler-icon acordeon-container-item-header-toggler-icon--arrow")
                                    include ../../prod/svg/icons/arrow_white_up.svg
                        div(class="acordeon-container-item-content")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")

                div(class="acordeon-container-item acordeon-container-item--red")
                    div(class="page-inner page-inner--w1 page-inner--relative")
                        div(class="acordeon-container-item-header")
                            span(class="acordeon-container-item-header-name") Mr. Tutti Ice Cream
                            span(class="acordeon-container-item-header-count") 
                            div(class="acordeon-container-item-header-toggler")
                                span(class="acordeon-container-item-header-toggler-title") 
                                span(class="acordeon-container-item-header-toggler-icon acordeon-container-item-header-toggler-icon--arrow")
                                    include ../../prod/svg/icons/arrow_white_up.svg
                        div(class="acordeon-container-item-content")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")

                div(class="acordeon-container-item acordeon-container-item--red")
                    div(class="page-inner page-inner--w1 page-inner--relative")
                        div(class="acordeon-container-item-header")
                            span(class="acordeon-container-item-header-name") Zest Coffee & Wine
                            span(class="acordeon-container-item-header-count") 
                            div(class="acordeon-container-item-header-toggler")
                                span(class="acordeon-container-item-header-toggler-title") 
                                span(class="acordeon-container-item-header-toggler-icon acordeon-container-item-header-toggler-icon--arrow")
                                    include ../../prod/svg/icons/arrow_white_up.svg
                        div(class="acordeon-container-item-content")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")

                div(class="acordeon-container-item acordeon-container-item--red")
                    div(class="page-inner page-inner--w1 page-inner--relative")
                        div(class="acordeon-container-item-header")
                            span(class="acordeon-container-item-header-name") Shake Shack
                            span(class="acordeon-container-item-header-count") 
                            div(class="acordeon-container-item-header-toggler")
                                span(class="acordeon-container-item-header-toggler-title") 
                                span(class="acordeon-container-item-header-toggler-icon acordeon-container-item-header-toggler-icon--arrow")
                                    include ../../prod/svg/icons/arrow_white_up.svg
                        div(class="acordeon-container-item-content")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")

                div(class="acordeon-container-item acordeon-container-item--red")
                    div(class="page-inner page-inner--w1 page-inner--relative")
                        div(class="acordeon-container-item-header")
                            span(class="acordeon-container-item-header-name") Starbucks
                            span(class="acordeon-container-item-header-count") 
                            div(class="acordeon-container-item-header-toggler")
                                span(class="acordeon-container-item-header-toggler-title") 
                                span(class="acordeon-container-item-header-toggler-icon acordeon-container-item-header-toggler-icon--arrow")
                                    include ../../prod/svg/icons/arrow_white_up.svg
                        div(class="acordeon-container-item-content")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")

                div(class="acordeon-container-item acordeon-container-item--red")
                    div(class="page-inner page-inner--w1 page-inner--relative")
                        div(class="acordeon-container-item-header")
                            span(class="acordeon-container-item-header-name") Subway
                            span(class="acordeon-container-item-header-count") 
                            div(class="acordeon-container-item-header-toggler")
                                span(class="acordeon-container-item-header-toggler-title") 
                                span(class="acordeon-container-item-header-toggler-icon acordeon-container-item-header-toggler-icon--arrow")
                                    include ../../prod/svg/icons/arrow_white_up.svg
                        div(class="acordeon-container-item-content")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")

                div(class="acordeon-container-item acordeon-container-item--red")
                    div(class="page-inner page-inner--w1 page-inner--relative")
                        div(class="acordeon-container-item-header")
                            span(class="acordeon-container-item-header-name") Suchi Buffer
                            span(class="acordeon-container-item-header-count") 
                            div(class="acordeon-container-item-header-toggler")
                                span(class="acordeon-container-item-header-toggler-title") 
                                span(class="acordeon-container-item-header-toggler-icon acordeon-container-item-header-toggler-icon--arrow")
                                    include ../../prod/svg/icons/arrow_white_up.svg
                        div(class="acordeon-container-item-content")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            
                
                div(class="acordeon-container-item acordeon-container-item--red")
                    div(class="page-inner page-inner--w1 page-inner--relative")
                        div(class="acordeon-container-item-header")
                            span(class="acordeon-container-item-header-name") Torro Grill
                            span(class="acordeon-container-item-header-count") 
                            div(class="acordeon-container-item-header-toggler")
                                span(class="acordeon-container-item-header-toggler-title") 
                                span(class="acordeon-container-item-header-toggler-icon acordeon-container-item-header-toggler-icon--arrow")
                                    include ../../prod/svg/icons/arrow_white_up.svg
                        div(class="acordeon-container-item-content")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            
                div(class="acordeon-container-item acordeon-container-item--red")
                    div(class="page-inner page-inner--w1 page-inner--relative")
                        div(class="acordeon-container-item-header")
                            span(class="acordeon-container-item-header-name") Tutti Frutti Frozen Yogurt
                            span(class="acordeon-container-item-header-count") 
                            div(class="acordeon-container-item-header-toggler")
                                span(class="acordeon-container-item-header-toggler-title") 
                                span(class="acordeon-container-item-header-toggler-icon acordeon-container-item-header-toggler-icon--arrow")
                                    include ../../prod/svg/icons/arrow_white_up.svg
                        div(class="acordeon-container-item-content")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")                
                            
                div(class="acordeon-container-item acordeon-container-item--red")
                    div(class="page-inner page-inner--w1 page-inner--relative")
                        div(class="acordeon-container-item-header")
                            span(class="acordeon-container-item-header-name") UpsideDownCake
                            span(class="acordeon-container-item-header-count") 
                            div(class="acordeon-container-item-header-toggler")
                                span(class="acordeon-container-item-header-toggler-title") 
                                span(class="acordeon-container-item-header-toggler-icon acordeon-container-item-header-toggler-icon--arrow")
                                    include ../../prod/svg/icons/arrow_white_up.svg
                        div(class="acordeon-container-item-content")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
                            a(href="#", class="acordeon-container-item-content-link")
