extends ../templates/base

block content
    div(class="page-content-inner")
        div(class="page-inner page-inner--w1")
            div(class="page-title") Галерея
            div(class="gallery")
                div(class="gallery-container-items popup-gallery", id="gallery-container")
                    a(href="https://www.youtube.com/watch?v=KmTK8kub_gw", class="gallery-container-item gallery-container-item--video gallery-container-item--w1")
                        img(src="../dummy/hall_big.jpg", class="gallery-container-item-img")
                        div(class="gallery-container-item-background")
                        span(class="gallery-container-item-title gallery-container-item-title--blue") Открытие новых горизонтов в ТРК Горизонт

                    a(href="../dummy/hall_big.jpg", class="gallery-container-item gallery-container-item--w1")
                        img(src="../dummy/garizont_shops.jpg", class="gallery-container-item-img")
                        div(class="gallery-container-item-background")


                    a(href="../dummy/hall_big.jpg", class="gallery-container-item gallery-container-item--w2")
                        img(src="../dummy/garizont_pandora.jpg", class="gallery-container-item-img")
                        div(class="gallery-container-item-background")
                        
                    a(href="../dummy/garizont_max.jpg", class="gallery-container-item gallery-container-item--w2")
                        img(src="../dummy/garizont_max.jpg", class="gallery-container-item-img")
                        div(class="gallery-container-item-background")
                        span(class="gallery-container-item-title gallery-container-item-title--blue") Прогулка в 12:00
                        
                    a(href="../dummy/hall_big.jpg", class="gallery-container-item gallery-container-item--w2")
                        img(src="../dummy/hall_chandelier.jpg", class="gallery-container-item-img")
                        div(class="gallery-container-item-background")


                    a(href="../dummy/hall_big.jpg", class="gallery-container-item gallery-container-item--w1")
                        img(src="../dummy/garizont_h_i_m.jpg", class="gallery-container-item-img")
                        div(class="gallery-container-item-background")
                        span(class="gallery-container-item-title")
                        
                    a(href="https://www.youtube.com/watch?v=KmTK8kub_gw", class="gallery-container-item gallery-container-item--video gallery-container-item--w1")
                        img(src="../dummy/many_shops.jpg", class="gallery-container-item-img")
                        div(class="gallery-container-item-background")
                        span(class="gallery-container-item-title gallery-container-item-title--green") Прогулка в 12:00
                        
                        
                    a(href="../dummy/hall_big.jpg", class="gallery-container-item gallery-container-item--w2")
                        img(src="../dummy/gerfelo.jpg", class="gallery-container-item-img")
                        div(class="gallery-container-item-background")
                        
                    a(href="../dummy/hall_big.jpg", class="gallery-container-item gallery-container-item--w2")
                        img(src="../dummy/hall_sillones.jpg", class="gallery-container-item-img")
                        div(class="gallery-container-item-background")  
                        
                    a(href="../dummy/hall_big.jpg", class="gallery-container-item gallery-container-item--w2")
                        img(src="../dummy/hall_tablas.jpg", class="gallery-container-item-img")
                        div(class="gallery-container-item-background")

                div(class="load-more")
                    a(href="gallery-item-load.html", data-container="#gallery-container", class="link load-more-btn rippler rippler-default") еще 10
