extends ../templates/base

block content
    div(class="page-content-inner")
        div(class="page-inner--w2")
            div(class="page404")
                div(class="search")
                    form(action="/search.html", class="search-form")
                        input(type="text", class="search-input", placeholder="Поиск магазина")
                        button(type="submit", title="Найти", class="search-submit")
                div(class="page404-container")
                    div(class="page404-title") Извините страница не найдена или была удалена. Начните, пожалуйста, с главной страницы.
                    a(href="/pages/home.html", class="page404-home")
                        span(class="page404-home-icon") 
                        span(class="page404-home-title") Перейти на главную    
