extends ../templates/base

block content
    div(class="page-content-inner")
        div(class="page-inner--w2 page-inner--relative")
            div(class="scheme")
                div(class="search")
                    form(action="/search.html", class="search-form")
                        input(type="text", class="search-input", placeholder="Поиск магазина")
                        button(type="submit", title="Найти", class="search-submit")
                
                div(class="scheme-information") 
                    div(class="scheme-information-floor-items")
                        select(class="scheme-information-floor-item-select", placeholder="1 этаж")
                            option(class="scheme-information-floor-item active", value="floor-1") 1 этаж
                            option(class="scheme-information-floor-item", value="floor-2") 2 этаж
                            option(class="scheme-information-floor-item", value="loor-3") 3 этаж

                        button(type"button", class="scheme-information-floor-item active", data-floor="floor-1") 1 этаж
                        button(type"button", class="scheme-information-floor-item", data-floor="floor-2") 2 этаж
                        button(type"button", class="scheme-information-floor-item", data-floor="floor-3") 3 этаж
                    
                    div(class="scheme-information-quantity")
                        div(class="scheme-information-count-title") Мест торговли и развлечений на 1 этаже
                        div(class="scheme-information-count-count") 73
                        
                div(class="scheme-container")
                    div(class="scheme-inner")
                        div(class="scheme-inner-container")
                            div(class="scheme-inner-container-svg active active-scheme-svg", id="floor-1")
                                include ../../prod/svg/schema.svg 
                                div(class="scheme-inner-container-svg-clone clone-1")
                                    include ../../prod/svg/schema.svg
                                div(class="scheme-inner-container-svg-clone clone-2")
                                    include ../../prod/svg/schema.svg
                                div(class="scheme-inner-container-svg-clone clone-3")
                                    include ../../prod/svg/schema.svg
                                div(class="scheme-inner-container-svg-clone clone-4")
                                    include ../../prod/svg/schema.svg
                                div(class="scheme-inner-container-svg-clone clone-5")
                                    include ../../prod/svg/schema.svg
                                div(class="scheme-inner-container-svg-clone clone-6")
                                    include ../../prod/svg/schema.svg
                                div(class="scheme-inner-container-svg-clone clone-7")
                                    include ../../prod/svg/schema.svg
                                div(class="scheme-inner-container-svg-clone clone-8")
                                    include ../../prod/svg/schema.svg
                                    
                            div(class="scheme-inner-container-svg", id="floor-2")
                                include ../../prod/svg/schema_floor1.svg
                                div(class="scheme-inner-container-svg-clone clone-1")
                                    include ../../prod/svg/schema_floor1.svg
                                div(class="scheme-inner-container-svg-clone clone-2")
                                    include ../../prod/svg/schema_floor1.svg
                                div(class="scheme-inner-container-svg-clone clone-3")
                                    include ../../prod/svg/schema_floor1.svg
                                div(class="scheme-inner-container-svg-clone clone-4")
                                    include ../../prod/svg/schema_floor1.svg
                                div(class="scheme-inner-container-svg-clone clone-5")
                                    include ../../prod/svg/schema_floor1.svg
                                div(class="scheme-inner-container-svg-clone clone-6")
                                    include ../../prod/svg/schema_floor1.svg
                                div(class="scheme-inner-container-svg-clone clone-7")
                                    include ../../prod/svg/schema_floor1.svg
                                div(class="scheme-inner-container-svg-clone clone-8")
                                    include ../../prod/svg/schema_floor1.svg

                            div(class="scheme-inner-container-svg", id="floor-3")
                                include ../../prod/svg/schema_floor2.svg
                                div(class="scheme-inner-container-svg-clone clone-1")
                                    include ../../prod/svg/schema_floor2.svg
                                div(class="scheme-inner-container-svg-clone clone-2")
                                    include ../../prod/svg/schema_floor2.svg
                                div(class="scheme-inner-container-svg-clone clone-3")
                                    include ../../prod/svg/schema_floor2.svg
                                div(class="scheme-inner-container-svg-clone clone-4")
                                    include ../../prod/svg/schema_floor2.svg
                                div(class="scheme-inner-container-svg-clone clone-5")
                                    include ../../prod/svg/schema_floor2.svg
                                div(class="scheme-inner-container-svg-clone clone-6")
                                    include ../../prod/svg/schema_floor2.svg
                                div(class="scheme-inner-container-svg-clone clone-7")
                                    include ../../prod/svg/schema_floor2.svg
                                div(class="scheme-inner-container-svg-clone clone-8")
                                    include ../../prod/svg/schema_floor2.svg

                div(class="scheme-controls")
                    a(href="#conventions", class="scheme-controls-question conventions")
                    span(class="scheme-controls-question-title") Условные обозначения
                    button(type"button", class="scheme-controls-zplus", zoom-quantity="1")
                    button(type"button", class="scheme-controls-zminus", zoom-quantity="1")
            
            div(class="page-preloader")
                div(class="page-preloader-item page-preloader-item--floorbasement")
                    div(class="page-preloader-item-holder")
                        img(src="../dummy/floor-1.png", class="page-preloader-item-holder-img")

                div(class="page-preloader-item page-preloader-item--floor1")
                    div(class="page-preloader-item-holder")
                        img(src="../dummy/floor1.png", class="page-preloader-item-holder-img")

                div(class="page-preloader-item page-preloader-item--floor2")
                    div(class="page-preloader-item-holder")
                        img(src="../dummy/floor2.png", class="page-preloader-item-holder-img")

                div(class="page-preloader-item page-preloader-item--floor3")
                    div(class="page-preloader-item-holder")
                        img(src="../dummy/floor3.png", class="page-preloader-item-holder-img")

                div(class="page-preloader-item page-preloader-item--floor4")
                    div(class="page-preloader-item-holder")
                        img(src="../dummy/floor4.png", class="page-preloader-item-holder-img")

                div(class="page-preloader-item page-preloader-item--floor5")
                    div(class="page-preloader-item-holder")
                        img(src="../dummy/floor5.png", class="page-preloader-item-holder-img")

                div(class="page-preloader-item page-preloader-item--floor6")
                    div(class="page-preloader-item-holder")
                        img(src="../dummy/floor6.png", class="page-preloader-item-holder-img")
        
    div(id="conventions", class="popup-conventions white-popup mfp-hide")
        div(class="popup-conventions--left")
            div(class="popup-conventions-title") Цветовые обозначения
            div(class="popup-conventions-color-items")
                div(class="popup-conventions-color-item")
                    span(class="popup-conventions-color-item-mark", style="background: #23a638")
                    span(class="popup-conventions-color-item-text") Аксессуары, юфелирные изделия, украшения
                div(class="popup-conventions-color-item")
                    span(class="popup-conventions-color-item-mark", style="background: #f07d00")
                    span(class="popup-conventions-color-item-text") Аудио-видео-бытовая техника, услуги связи
                div(class="popup-conventions-color-item")
                    span(class="popup-conventions-color-item-mark", style="background: #1ebbef")
                    span(class="popup-conventions-color-item-text") Аудио-видео-бытовая техника, услуги связи
                div(class="popup-conventions-color-item")
                    span(class="popup-conventions-color-item-mark", style="background: #fbb900")
                    span(class="popup-conventions-color-item-text") Обувь
                div(class="popup-conventions-color-item")
                    span(class="popup-conventions-color-item-mark", style="background: #e40421")
                    span(class="popup-conventions-color-item-text") Одежда
                div(class="popup-conventions-color-item")
                    span(class="popup-conventions-color-item-mark", style="background: #0d6fb6")
                    span(class="popup-conventions-color-item-text") Развлечения
                div(class="popup-conventions-color-item")
                    span(class="popup-conventions-color-item-mark", style="background: #a71580")
                    span(class="popup-conventions-color-item-text") Рестораны, кафе
                div(class="popup-conventions-color-item")
                    span(class="popup-conventions-color-item-mark", style="background: #96c11f")
                    span(class="popup-conventions-color-item-text") Спортивные товары
                div(class="popup-conventions-color-item")
                    span(class="popup-conventions-color-item-mark", style="background: #55a7b3")
                    span(class="popup-conventions-color-item-text") Сувениры, подарки
                div(class="popup-conventions-color-item")
                    span(class="popup-conventions-color-item-mark", style="background: #fff03f")
                    span(class="popup-conventions-color-item-text") Товары для детей
                div(class="popup-conventions-color-item")
                    span(class="popup-conventions-color-item-mark", style="background: #c589bb")
                    span(class="popup-conventions-color-item-text") Товары для дома
                div(class="popup-conventions-color-item")
                    span(class="popup-conventions-color-item-mark", style="background: #e82e8a")
                    span(class="popup-conventions-color-item-text") Услуги
                div(class="popup-conventions-color-item")
                    span(class="popup-conventions-color-item-mark", style="background: #9e092e")
                    span(class="popup-conventions-color-item-text") Магазины продуктов
        div(class="popup-conventions--right")
            div(class="popup-conventions-title") Условные обозначения
            div(class="popup-conventions-icon-items")
                div(class="popup-conventions-icon-item")
                    div(class="popup-conventions-icon-item-holder")
                        img(src="../i/icons/WC.png", class="popup-conventions-icon-item-holder-img")
                    span(class="popup-conventions-icon-item-text") Туалет
                div(class="popup-conventions-icon-item")
                    div(class="popup-conventions-icon-item-holder")
                        img(src="../i/icons/parking.png", class="popup-conventions-icon-item-holder-img")
                    span(class="popup-conventions-icon-item-text") Парковка
                div(class="popup-conventions-icon-item")
                    div(class="popup-conventions-icon-item-holder")
                        img(src="../i/icons/escalators.png", class="popup-conventions-icon-item-holder-img")
                    span(class="popup-conventions-icon-item-text") Экскалаторы и траволатор
                div(class="popup-conventions-icon-item")
                    div(class="popup-conventions-icon-item-holder")
                        img(src="../i/icons/wardrobe.png", class="popup-conventions-icon-item-holder-img")
                    span(class="popup-conventions-icon-item-text") Гардероб
                div(class="popup-conventions-icon-item")
                    div(class="popup-conventions-icon-item-holder")
                        img(src="../i/icons/playgrounds.png", class="popup-conventions-icon-item-holder-img")
                    span(class="popup-conventions-icon-item-text") Детская площадка
                div(class="popup-conventions-icon-item")
                    div(class="popup-conventions-icon-item-holder")
                        img(src="../i/icons/cleaner's.png", class="popup-conventions-icon-item-holder-img")
                    span(class="popup-conventions-icon-item-text") Химчистка
                div(class="popup-conventions-icon-item")
                    div(class="popup-conventions-icon-item-holder")
                        img(src="../i/icons/pool.png", class="popup-conventions-icon-item-holder-img")
                    span(class="popup-conventions-icon-item-text") Бассейн
                div(class="popup-conventions-icon-item")
                    div(class="popup-conventions-icon-item-holder")
                        img(src="../i/icons/pharmacy.png", class="popup-conventions-icon-item-holder-img")
                    span(class="popup-conventions-icon-item-text") Аптека
                div(class="popup-conventions-icon-item")
                    div(class="popup-conventions-icon-item-holder")
                        img(src="../i/icons/gym.png", class="popup-conventions-icon-item-holder-img")
                    span(class="popup-conventions-icon-item-text") Фитнес-цетр
                div(class="popup-conventions-icon-item")
                    div(class="popup-conventions-icon-item-holder")
                        img(src="../i/icons/bowling.png", class="popup-conventions-icon-item-holder-img")
                    span(class="popup-conventions-icon-item-text") Боулинг
                div(class="popup-conventions-icon-item")
                    div(class="popup-conventions-icon-item-holder")
                        img(src="../i/icons/kino.png", class="popup-conventions-icon-item-holder-img")
                    span(class="popup-conventions-icon-item-text") Кинотеатр
                div(class="popup-conventions-icon-item")
                    div(class="popup-conventions-icon-item-holder")
                        img(src="../i/icons/restaurants.png", class="popup-conventions-icon-item-holder-img")
                    span(class="popup-conventions-icon-item-text") Кафе, рестораны
                div(class="popup-conventions-icon-item")
                    div(class="popup-conventions-icon-item-holder")
                        img(src="../i/icons/atelier.png", class="popup-conventions-icon-item-holder-img")
                    span(class="popup-conventions-icon-item-text") Ателье
                div(class="popup-conventions-icon-item")
                    div(class="popup-conventions-icon-item-holder")
                        img(src="../i/icons/stern.png", class="popup-conventions-icon-item-holder-img")
                    span(class="popup-conventions-icon-item-text") Товары для животных 
                div(class="popup-conventions-icon-item")
                    div(class="popup-conventions-icon-item-holder")
                        img(src="../i/icons/family_funny.png", class="popup-conventions-icon-item-holder-img")
                    span(class="popup-conventions-icon-item-text") Семейный развлекательный комплекс

    div(class="tooltip_templates")
        div(class="tooltip-container", id="tooltip-element", data-shop="nike")
            p Nike
            p т. 74994270543
            p Одежда, спортивная одежда
            p 10:00 - 23:00
            a(href="shops_detail.html", class="link link--darkgray tooltip-container-link animation-link rippler rippler-default") Узнать больше
            div(class="tooltip-close")
                span x
    div(class="tooltip_templates")
        div(class="tooltip-container", id="tooltip-element", data-shop="adidas")
            p ADIDAS
            p т. 74994270543
            p Одежда, спортивная одежда, спортивные аксессуары
            p 10:00 - 23:00
            a(href="shops_detail.html", class="link link--darkgray tooltip-container-link animation-link rippler rippler-default") Узнать больше
            div(class="tooltip-close")
                span x
    div(class="tooltip_templates")
        div(class="tooltip-container", id="tooltip-element", data-shop="HM")
            p H&M
            p т. 749912370543
            p Одежда, классическая одежда
            p 10:00 - 23:00
            a(href="shops_detail.html", class="link link--darkgray tooltip-container-link animation-link rippler rippler-default") Узнать больше
            div(class="tooltip-close")
                span x
    div(class="tooltip_templates")
        div(class="tooltip-container", id="tooltip-element", data-shop="zolla")
            p Zolla
            p т. 749912370543
            p Одежда, брюки, классическая одежда, зимняя одежда
            p 10:00 - 23:00
            a(href="shops_detail.html", class="link link--darkgray tooltip-container-link animation-link rippler rippler-default") Узнать больше
            div(class="tooltip-close")
                span x
    div(class="tooltip_templates")
        div(class="tooltip-container", id="tooltip-element", data-shop="ostin")
            p Ostin
            p т. 749912370543
            p Одежда
            p 10:00 - 23:00
            a(href="shops_detail.html", class="link link--darkgray tooltip-container-link animation-link rippler rippler-default") Узнать больше
            div(class="tooltip-close")
                span x
    div(class="tooltip_templates")
        div(class="tooltip-container", id="tooltip-element", data-shop="sportmaster")
            p Спортмастер
            p т. 749968370543
            p Спортивная одежда
            p 10:00 - 23:00
            a(href="shops_detail.html", class="link link--darkgray tooltip-container-link animation-link rippler rippler-default") Узнать больше
            div(class="tooltip-close")
                span x
