extends ../templates/base

block content
    div(class="page-content-inner")
        div(class="page-inner page-inner--w1")
            div(class="page-title") Схема
            h1(class="test") В РАЗРАБОКЕ
