extends ../templates/base

block content
    div(class="page-inner page-inner--w1")
        div(class="page-title") Вы искали
    div(class="search-result")
        div(class="search")
            form(action="/search.html")
                input(type="text", class="search-item", placeholder="Поиск магазина")
                button(type="submit", title="Найти", class="search-submit")
        div(class="search-result-items")
            div(class="search-result-item")
                div(class="page-inner search-result-item-inner")
                    a(href="#", class="link link-dark-gray search-result-item-logo")
                        img(src="../dummy/Love_Republic.jpg", class="search-result-item-logo-shop")
                    div(class="search-result-item-shop")
                        span(class="search-result-item-shop-name") Love Republic
                        a(href="tel:+74994270543", class="link link--darkgray search-result-item-shop-phone") т.+7 (499) 427 0543
                    div(class="search-result-item-products")
                        span(class="search-result-item-products-text") Одежда, аксессуары, 
                        span(class="search-result-item-products-text search-result-item-products-text--bold") обувь
                        span(class="search-result-item-products-time") 10:00 - 23:00
                        button(type="button", class="btn btn--blue search-result-item-products-more") Узнать больше 
                    div(class="search-result-item-location")
                        span(class="search-result-item-location-floor") 1 этаж
                        button(type="button", class="btn btn--yellow search-result-item-location-floor-show") посмотреть на схеме
            div(class="search-result-item")
                div(class="page-inner search-result-item-inner")
                    a(href="#", class="link link-dark-gray search-result-item-logo")
                        img(src="../dummy/adidas.png", class="search-result-item-logo-shop")
                    div(class="search-result-item-shop")
                        span(class="search-result-item-shop-name") Love Republic
                        a(href="tel:+74994270543", class="link link--darkgray search-result-item-shop-phone") т.+7 (499) 427 0543
                    div(class="search-result-item-products")
                        span(class="search-result-item-products-text") Одежда, аксессуары, 
                        span(class="search-result-item-products-text search-result-item-products-text--bold") обувь
                        span(class="search-result-item-products-time") 10:00 - 23:00
                        button(type="button", class="btn btn--blue search-result-item-products-more") Узнать больше 
                    div(class="search-result-item-location")
                        span(class="search-result-item-location-floor") 1 этаж
                        button(type="button", class="btn btn--yellow search-result-item-location-floor-show") посмотреть на схеме
            div(class="search-result-item")
                div(class="page-inner search-result-item-inner")
                    a(href="#", class="link link-dark-gray search-result-item-logo")
                        img(src="../dummy/Dockers.png", class="search-result-item-logo-shop")
                    div(class="search-result-item-shop")
                        span(class="search-result-item-shop-name") Love Republic
                        a(href="tel:+74994270543", class="link link--darkgray search-result-item-shop-phone") т.+7 (499) 427 0543
                    div(class="search-result-item-products")
                        span(class="search-result-item-products-text") Одежда, аксессуары, 
                        span(class="search-result-item-products-text search-result-item-products-text--bold") обувь
                        span(class="search-result-item-products-time") 10:00 - 23:00
                        button(type="button", class="btn btn--blue search-result-item-products-more") Узнать больше 
                    div(class="search-result-item-location")
                        span(class="search-result-item-location-floor") 1 этаж
                        button(type="button", class="btn btn--yellow search-result-item-location-floor-show") посмотреть на схеме

            div(class="search-result-item")
                div(class="page-inner search-result-item-inner")
                    a(href="#", class="link link-dark-gray search-result-item-logo")
                        img(src="../dummy/adidas.png",class="search-result-item-logo-shop")
                    div(class="search-result-item-shop")
                        span(class="search-result-item-shop-name") Love Republic
                        a(href="tel:+74994270543", class="link link--darkgray search-result-item-shop-phone") т.+7 (499) 427 0543
                    div(class="search-result-item-products")
                        span(class="search-result-item-products-text") Одежда, аксессуары, 
                        span(class="search-result-item-products-text search-result-item-products-text--bold") обувь
                        span(class="search-result-item-products-time") 10:00 - 23:00
                        button(type="button", class="btn btn--blue search-result-item-products-more") Узнать больше 
                    div(class="search-result-item-location")
                        span(class="search-result-item-location-floor") 1 этаж
                        button(type="button", class="btn btn--yellow search-result-item-location-floor-show") посмотреть на схеме
            div(class="search-result-item")
                div(class="page-inner search-result-item-inner")
                    a(href="#", class="link link-dark-gray search-result-item-logo")
                        img(src="../dummy/Dockers.png",class="search-result-item-logo-shop")
                    div(class="search-result-item-shop")
                        span(class="search-result-item-shop-name") Love Republic
                        a(href="tel:+74994270543", class="link link--darkgray search-result-item-shop-phone") т.+7 (499) 427 0543
                    div(class="search-result-item-products")
                        span(class="search-result-item-products-text") Одежда, аксессуары, 
                        span(class="search-result-item-products-text search-result-item-products-text--bold") обувь
                        span(class="search-result-item-products-time") 10:00 - 23:00
                        button(type="button", class="btn btn--blue search-result-item-products-more") Узнать больше 
                    div(class="search-result-item-location")
                        span(class="search-result-item-location-floor") 1 этаж
                        button(type="button", class="btn btn--yellow search-result-item-location-floor-show") посмотреть на схеме

            div(class="search-result-item")
                div(class="page-inner search-result-item-inner")
                    a(href="#", class="link link-dark-gray search-result-item-logo")
                        img(src="../dummy/adidas.png",class="search-result-item-logo-shop")
                    div(class="search-result-item-shop")
                        span(class="search-result-item-shop-name") Love Republic
                        a(href="tel:+74994270543", class="link link--darkgray search-result-item-shop-phone") т.+7 (499) 427 0543
                    div(class="search-result-item-products")
                        span(class="search-result-item-products-text") Одежда, аксессуары, 
                        span(class="search-result-item-products-text search-result-item-products-text--bold") обувь
                        span(class="search-result-item-products-time") 10:00 - 23:00
                        button(type="button", class="btn btn--blue search-result-item-products-more") Узнать больше 
                    div(class="search-result-item-location")
                        span(class="search-result-item-location-floor") 1 этаж
                        button(type="button", class="btn btn--yellow search-result-item-location-floor-show") посмотреть на схеме
            div(class="search-result-item")
                div(class="page-inner search-result-item-inner")
                    a(href="#", class="link link-dark-gray search-result-item-logo")
                        img(src="../dummy/Dockers.png",class="search-result-item-logo-shop")
                    div(class="search-result-item-shop")
                        span(class="search-result-item-shop-name") Love Republic
                        a(href="tel:+74994270543", class="link link--darkgray search-result-item-shop-phone") т.+7 (499) 427 0543
                    div(class="search-result-item-products")
                        span(class="search-result-item-products-text") Одежда, аксессуары, 
                        span(class="search-result-item-products-text search-result-item-products-text--bold") обувь
                        span(class="search-result-item-products-time") 10:00 - 23:00
                        button(type="button", class="btn btn--yellow btn--blue search-result-item-products-more") Узнать больше 
                    div(class="search-result-item-location")
                        span(class="search-result-item-location-floor") 1 этаж
                        button(type="button", class="btn search-result-item-location-floor-show") посмотреть на схеме
