extends ../templates/base

block content
    div(class="page-inner page-inner--w1")
        div(class="page-title") Горизонт Life & Style
        div(class="shares")
            div(class="shares-items", id="shares-container-load")
                div(class="shares-list-container")
                    a(href="#", class="link link--darkgray shares-item shares-item--title-bold")
                        div(class="shares-item-heading")
                            div(class="shares-item-photo-holder")
                                img(src="../dummy/two_girls.jpg", class="shares-item-photo")
                        div(class="shares-item-content")
                            div(class="shares-item-content-title ")
                                span(class="link shares-item-content-title-text") Обуздай не удержимое!
                            div(class="shares-item-content-text") Открытие бутика джинсовой одежды, легендарного бренда
                            div(class="shares-item-content-shop") Mustang
                            div(class="shares-item-content-tag") Новое открытие
                    a(href="#", class="link link--darkgray shares-item")
                        div(class="shares-item-content")
                            div(class="shares-item-content-title")
                                span(class="link shares-item-content-title-text") Лето до 1  августа
                            div(class="shares-item-content-text") Каждый вторник в Горизонте вас ждут скидки и приятные сюрпризы
                            div(class="shares-item-content-shop") ТРК "Горизонт"
                            div(class="shares-item-content-tag") спец. предложение
                    a(href="#", class="link link--darkgray shares-item")
                        div(class="shares-item-heading")
                            div(class="shares-item-photo-holder")
                                img(src="../dummy/levis.jpg", class="shares-item-photo")
                        div(class="shares-item-content")
                            div(class="shares-item-content-title")
                                span(class="link shares-item-content-title-text") 12 изысканных спецпредложений
                            div(class="shares-item-content-text") Каждый вторник в Горизонте вас ждут скидки и приятные сюрпризы
                            div(class="shares-item-content-shop") ТРК "Горизонт"
                            div(class="shares-item-content-tag") Новость

                    a(href="#", class="link link--darkgray shares-item")
                        div(class="shares-item-heading")
                            div(class="shares-item-photo-holder")
                                img(src="../dummy/model.jpg", class="shares-item-photo")
                        div(class="shares-item-content")
                            div(class="shares-item-content-title")
                                span(class="link shares-item-content-title-text") Объем, как тренд 2017 от кутюр
                            div(class="shares-item-content-text") Полоска - тренд вне времени, и дизайнеры ее любят за локоничность и универсальность
                            div(class="shares-item-content-shop") L'Oral
                            div(class="shares-item-content-tag") спец. предложение
                    a(href="#", class="link link--darkgray shares-item")
                        div(class="shares-item-content")
                            div(class="shares-item-content-title")
                                span(class="link shares-item-content-title-text") День открытых дверей
                            div(class="shares-item-content-text") Каждый вторник в Горизонте вас ждут скидки и приятные сюрпризы
                            div(class="shares-item-content-shop") ТРК "Горизонт"
                            div(class="shares-item-content-tag") Новость
                    a(href="#", class="link link--darkgray shares-item")
                        div(class="shares-item-content")
                            div(class="shares-item-content-title")
                                span(class="link shares-item-content-title-text") Новая коллекция
                            div(class="shares-item-content-text") Каждый вторник в Горизонте вас ждут скидки и приятные сюрпризы
                            div(class="shares-item-content-shop") Levis
                            div(class="shares-item-content-tag") Новость

                    a(href="#", class="link link--darkgray shares-item")
                        div(class="shares-item-heading")
                            div(class="shares-item-photo-holder")
                                img(src="../dummy/flor.jpg", class="shares-item-photo")
                        div(class="shares-item-content")
                            div(class="shares-item-content-title")
                                span(class="link shares-item-content-title-text") 1 и 9
                            div(class="shares-item-content-text") Каждый вторник в Горизонте вас ждут скидки и приятные сюрпризы
                            div(class="shares-item-content-shop") L'Oreal
                            div(class="shares-item-content-tag") Новость
                    a(href="#", class="link link--darkgray shares-item")
                        div(class="shares-item-heading")
                            div(class="shares-item-photo-holder")
                                img(src="../dummy/strawberries.jpg", class="shares-item-photo")
                        div(class="shares-item-content")
                            div(class="shares-item-content-title")
                                span(class="link shares-item-content-title-text") Лето до 1 августа
                            div(class="shares-item-content-text") Каждый вторник в Горизонте вас ждут скидки и приятные сюрпризы
                            div(class="shares-item-content-shop") ТРК "Горизонт"
                            div(class="shares-item-content-tag") спец. предложение
                    a(href="#", class="link link--darkgray shares-item")
                        div(class="shares-item-content")
                            div(class="shares-item-content-title")
                                span(class="link shares-item-content-title-text") Май %
                            div(class="shares-item-content-text") Каждый вторник в Горизонте вас ждут скидки и приятные сюрпризы
                            div(class="shares-item-content-shop") Levis
                            div(class="shares-item-content-tag") спец. предложение
            div(class="load-more")
                a(href="shares-item-load.html", data-container="#shares-container-load", class="link load-more-btn") еще 8
