extends ../templates/base

block content
    div(class="page-inner page-inner--indents")
        div(class="shares-detail")
            h1(class="page-heading page-heading--big") А вот и скидки вырисовываются
            div(class="shares-detail-info") Каждый вторник в Горизонте вас ждут скидки и приятные сюрпризы
            div(class="shares-detail-shop") New yorker
            div(class="shares-detail-social")
                span(class="shares-detail-social-text") поделиться &#8212
                a(href="#",class="shares-detail-social-item")
                a(href="#",class="shares-detail-social-item")
                a(href="#",class="shares-detail-social-item")
            img(src="../dummy/two_girls_big.jpg" class="shares-detail-img")
            div(class="page-text")
                p Популяционный индекс, после осторожного анализа, выслеживает тропический год. Аномальная джетовая активность прекрасно представляет собой популяционный индекс. Скоpость кометы в пеpигелии, несмотря на внешние воздействия, точно вызывает восход . Экскадрилья, несмотря на внешние воздействия, доступна. Прямое восхождение, несмотря на внешние воздействия, иллюстрирует лимб.
                p Нулевой меридиан иллюстрирует непреложный Млечный Путь. Южный Треугольник, в первом приближении, слабопроницаем. Скоpость кометы в пеpигелии, как бы это ни казалось парадоксальным, выслеживает популяционный индекс. Годовой параллакс меняет большой круг небесной сферы. Очевидно, что астероид последовательно вращает аргумент перигелия. Элонгация на следующий год, когда было лунное затмение и сгорел древний храм Афины в Афинах (при эфоре Питии и афинском архонте Каллии), традиционно меняет метеорный дождь.
        div(class="simular-shares")
            h2 Вас также может заитерисовать
            div(class="simular-shares-items")
                a(href="#", class="simular-shares-item link link-dark-gray")
                    div(class="simular-shares-item-heading")
                        div(class="simular-shares-item-photo-holder")
                            img(src="../dummy/flor.jpg", class="simular-shares-item-photo")
                    div(class="simular-shares-item-content")
                        div(class="simular-shares-item-content-title") 1 и 9
                        div(class="simular-shares-item-content-text") Каждый вторник в Горизонте вас ждут скидки и приятные сюрпризы
                        div(class="simular-shares-item-content-shop") Mustang
                a(href="#", class="simular-shares-item link link-dark-gray")
                    div(class="simular-shares-item-heading")
                        div(class="simular-shares-item-photo-holder")
                            img(src="../dummy/strawberries.jpg", class="simular-shares-item-photo")
                    div(class="simular-shares-item-content")
                        div(class="simular-shares-item-content-title") Лето до 1 августа
                        div(class="simular-shares-item-content-text") Каждый вторник в Горизонте вас ждут скидки и приятные сюрпризы
                        div(class="simular-shares-item-content-shop") ТРК &#171Горизонт&#187
                a(href="#", class="simular-shares-item link link-dark-gray")
                    div(class="simular-shares-item-heading")
                        div(class="simular-shares-item-photo-holder")
                            img(src="../dummy/strawberries.jpg", class="simular-shares-item-photo")
                    div(class="simular-shares-item-content")
                        div(class="simular-shares-item-content-title") 1 и 9
                        div(class="simular-shares-item-content-text") Каждый вторник в Горизонте вас ждут скидки и приятные сюрпризы
                        div(class="simular-shares-item-content-shop") levis
