extends ../templates/base

block content
    div(class="page-inner page-inner--indents")
        h1(class="page-heading") Горизонт Life & Style
        div(class="news")
            div(class="news-list-row")
                a(href="#", class="news-item")
                    div(class="news-item-heading")
                        div(class="news-item-photo-holder")
                            img(src="../dummy/glob-news.jpg", class="news-item-photo")
                    div(class="news-item-content")
                        div(class="news-item-content-title")
                            span(class="link link-black-bottom news-item-heading-title") ЗАГОЛОВОК ОБЫЧНО ДЛИННЫЙ
                        div(class="news-item-heading-text") Открытие бутика джинсовой одежды, легендарного бренда
                        div(class="news-item-heading-shop") Открытие бутика джинсовой одежды
                        div(class="news-item-heading-tag") Новое открытие
                a(href="#", class="news-item")
                    div(class="news-item-heading")
                        div(class="news-item-photo-holder")
                            img(src="../dummy/glob-news.jpg", class="news-item-photo")
                    div(class="news-item-content")
                        div(class="news-item-content-title")
                            span(class="link link-black-bottom news-item-heading-title") ЗАГОЛОВОК ОБЫЧНО ДЛИННЫЙ
                        div(class="news-item-heading-text") Открытие бутика джинсовой одежды, легендарного бренда
                        div(class="news-item-heading-shop") Открытие бутика джинсовой одежды
                        div(class="news-item-heading-tag") Новое открытие
                a(href="#", class="news-item")
                    div(class="news-item-heading")
                        div(class="news-item-photo-holder")
                            img(src="../dummy/glob-news.jpg", class="news-item-photo")
                    div(class="news-item-content")
                        div(class="news-item-content-title")
                            span(class="link link-black-bottom news-item-heading-title") ЗАГОЛОВОК ОБЫЧНО ДЛИННЫЙ
                        div(class="news-item-heading-text") Открытие бутика джинсовой одежды, легендарного бренда
                        div(class="news-item-heading-shop") Открытие бутика джинсовой одежды
                        div(class="news-item-heading-tag") Новое открытие
