extends ../templates/base

block content
    div(class="page-inner page-inner--w1 page-inner--relative")
        div(class="page-title") Магазины
    div(class="shops")
        div(class="shops-container-items")
            div(class="shops-container-item")
                img(src="../dummy/hall_big.jpg")
                div(class="page-inner page-inner--w1 page-inner--relative")
                    div(class="shops-container-item-header")
                        span(class="shops-container-item-header-name") Одежда
                        span(class="shops-container-item-header-count") 66
                        div(class="shops-container-item-header-toggler")
                            span(class="shops-container-item-header-toggler-title") свернуть
                            span(class="shops-container-item-header-toggler-icon")
                    div(class="shops-container-item-content")
                        a(href="#", class="shops-container-item-content-link")
                        a(href="#", class="shops-container-item-content-link")
                        a(href="#", class="shops-container-item-content-link")
                        a(href="#", class="shops-container-item-content-link")
                        a(href="#", class="shops-container-item-content-link")
                        a(href="#", class="shops-container-item-content-link")
                        a(href="#", class="shops-container-item-content-link")
                        a(href="#", class="shops-container-item-content-link")
                        a(href="#", class="shops-container-item-content-link")
                        a(href="#", class="shops-container-item-content-link")
                        a(href="#", class="shops-container-item-content-link")
                        a(href="#", class="shops-container-item-content-link")
                        a(href="#", class="shops-container-item-content-link")
                        
                        
