include ../lib/html/html.jade
doctype html
<!--[if IE 7]><html lang="ru" prefix="og: http://ogp.me/ns#" class="ie8 no-js"><![endif]-->
<!--[if IE 8]><html lang="ru" prefix="og: http://ogp.me/ns#" class="ie8 no-js"><![endif]-->
<!--[if IE 9]><html lang="ru" prefix="og: http://ogp.me/ns#" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
html(lang="ru", class="no-js", prefix="og:http://ogp.me/ns#")
	<!--<![endif]-->
	head
		+headerMeta({
			charset: "utf-8",
			keywords: info.keywords,
			description: info.description,
			title: info.title,
			robots: "index, follow",
			viewport: "width=device-width, initial-scale=1.0"
		})
		+openGraph({
			type: "website", 
			siteName: info.siteName,
			title: info.title,
			description: info.description,
			url: info.productionUrl,
			image: info.image
		})
		+webIcons({
			favicon: {
				src: "/i/favicon.ico"
			},
			appleTouchIcon: [
				{
					src: "../i/icons/apple-touch-icon.jpg"
				}, {
					src: "../i/icons/apple-touch-icon-76.jpg",
					size: "76x76"
				}, {
					src: "../i/icons/apple-touch-icon-140.jpg",	
					size: "140x140"
				}, {
					src: "../i/icons/apple-touch-icon-152.jpg",
					size: "152x152"
				}
			]
		})
		+addCSS([
			{
				media: "screen",
				href: "../css/sprite.css",
				noCache: true,
			}, {
				media: "screen",
				href: "../css/plugins/magnific-popup.min.css",
				noCache: true,
			}, {
				media: "screen",
				href: "../css/" + info.code + ".css",
				noCache: true
			}
		])

	body(itemscope, itemtype="http://schema.org/WebPage")

		div(class="page")
			header(class="page-header", itemscope, itemtype="http://schema.org/WPHeader")
				div(class="header-row header-row--top")
					div(class="page-inner")
						div(class="header-col header-col--2")
							+menu({
								rootClass: "header-menu",
								items: [
									{
										name: "О горизонте",
										linkClass: "link link-black",
										href: "#",
										items: [
											{
												name: "О компании",
												href: "/about.html",
												linkClass: "link link-black",
											}, {
												name: "Контакты",
												href: "/contacts.html",
												linkClass: "link link-black",
											}, {
												name: "Концепция",
												href: "/concepts.html",
												linkClass: "link link-black",
											}, {
												name: "Галерея",
												href: "/gallery.html",
												linkClass: "link link-black",
											}
										]
									}, {
										name: "Магазины",
										href: "/shops.html",
										linkClass: "link link-black link-red-bottom icon-shop",
									}, {
										name: "Развлечения",
										href: "/education.html",
										linkClass: "link link-black link-red-bottom",
									}, {
										name: "Сервис",
										href: "#",
										linkClass: "link link-black link-red-bottom",
									}, {
										name: "Схема комплекса",
										href: "/scheme.html",
										linkClass: "link link-black link-red-bottom",
									}, {
										name: "Акции",
										href: "/shares.html",
										linkClass: "link link-gray link-blue-bottom",
									}, {
										name: "Журнал",
										href: "/journal.html",
										linkClass: "link link-gray link-blue-bottom",
									}
								]
							})
						div(class="header-col header-col--1")
							div(class="header-contacts")
								div(class="header-contacts-phone")
									a(href="tel:+78002001955", class="header-phone-link link link-black") 8 (800) 200 19 55
										div(class="header-phone-note") Звонок бесплатный, круглосуточно
								div(class="header-contacts-location")
									a(href="tel:+78632381759", class="header-location-link link link-black") 
										div(class="header-location-point")
											svg(id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.12 28.13")
												title Point map
												path(d="M64.94,74.25A0.88,0.88,0,0,1,64.31,74c-0.43-.44-10.43-10.88-10.43-16.79a11.06,11.06,0,1,1,22.12,0C76,63.1,66,73.54,65.57,74A0.88,0.88,0,0,1,64.94,74.25Zm0-26.37a9.32,9.32,0,0,0-9.31,9.31c0,4,6.22,11.58,9.31,14.91,3.09-3.34,9.31-10.89,9.31-14.91A9.32,9.32,0,0,0,64.94,47.88Z" transform="translate(-53.88 -46.13)" fill="#ce5e90")
												path(d="M64.94,59.58a2.4,2.4,0,1,1,2.4-2.4A2.4,2.4,0,0,1,64.94,59.58Zm0-3a0.65,0.65,0,1,0,.65.65A0.65,0.65,0,0,0,64.94,56.54Z" transform="translate(-53.88 -46.13)" fill="#ce5e90")
										span(class="header-location-link-text") Как добраться

					
				div(class="header-row header-row--bottom")
					div(class="page-inner")
						div(class="header-logo")
							a(href="/home.html", class="header-logo-link")
								img(src="../dummy/logo.png", class="header-logo-img")
				
				
				
				
			main(class="page-content")
				block content




		footer(class="page-footer", itemscope, itemtype="http://schema.org/WPFooter")
			div(class="page-inner")
				div(class="footer-row")
					div(class="footer-infomation")
						span(class="footer-development") Дизайн и разработка сайта - 
						a(href="#", class="link link-black link-bold link-black-bottom") Ruformat.ru
						span(class="footer-organization") Идеология и контент - ЗАО "ТК Горизонт"
					div(class="footer-social")
						span(class="footer-social-text") Мы с социальных сетях:
						a(href="#", class="icon-facebook")
						a(href="#", class="icon-facebook")
						a(href="#", class="icon-facebook")
		+addJS([
			{
				src: "http://code.jquery.com/jquery-1.11.3.min.js"
			}, {
				src: "../js/plugins/jquery.magnific-popup.min.js"
			}, {
				src: "../js/" + info.code + ".js"
			}
		])
