include ../lib/html/html.jade
doctype html
<!--[if IE 7]><html lang="ru" prefix="og: http://ogp.me/ns#" class="ie8 no-js"><![endif]-->
<!--[if IE 8]><html lang="ru" prefix="og: http://ogp.me/ns#" class="ie8 no-js"><![endif]-->
<!--[if IE 9]><html lang="ru" prefix="og: http://ogp.me/ns#" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
html(lang="ru", class="no-js", prefix="og:http://ogp.me/ns#")
	<!--<![endif]-->
	head
		+headerMeta({
			charset: "utf-8",
			keywords: info.keywords,
			description: info.description,
			title: info.title,
			robots: "index, follow",
			viewport: "width=device-width, initial-scale=1.0"
		})
		+openGraph({
			type: "website", 
			siteName: info.siteName,
			title: info.title,
			description: info.description,
			url: info.productionUrl,
			image: info.image
		})
		+webIcons({
			favicon: {
				src: "/i/favicon.ico"
			},
			appleTouchIcon: [
				{
					src: "../i/icons/apple-touch-icon.jpg"
				}, {
					src: "../i/icons/apple-touch-icon-76.jpg",
					size: "76x76"
				}, {
					src: "../i/icons/apple-touch-icon-140.jpg",	
					size: "140x140"
				}, {
					src: "../i/icons/apple-touch-icon-152.jpg",
					size: "152x152"
				}
			]
		})
		+addCSS([
			{
				media: "screen",
				href: "../css/sprite.css",
				noCache: true,
			}, {
				media: "screen",
				href: "../css/plugins/magnific-popup.min.css",
				noCache: true,
			}, {
				media: "screen",
				href: "../css/plugins/magnific-popup.min.css",
				noCache: true,
			}, {
				media: "screen",
				href: "../css/plugins/owl.carousel.min.css",
				noCache: true
			}, {
				media: "screen",
				href: "../css/plugins/owl.theme.default.min.css",
				noCache: true
			},  {
				media: "screen",
				href: "../css/" + info.code + ".css",
				noCache: true
			},  {
				media: "screen",
				href: "../css/gorizont.responsive.css",
				noCache: true
			}
		])

	body(itemscope, itemtype="http://schema.org/WebPage")

		div(class="page")
			header(class="page-header", itemscope, itemtype="http://schema.org/WPHeader")
				div(class="header-row header-row--top")
					div(class="page-inner page-inner--relative page-inner--clearfix")
						+menu({
							rootClass: "header-menu",
							items: [
								{
									name: "О горизонте",
									linkClass: "link link--black",
									href: "#",
									items: [
										{
											name: "О компании",
											href: "/about.html",
											linkClass: "link link--black",
										}, {
											name: "Контакты",
											href: "/contacts.html",
											linkClass: "link link--black",
										}, {
											name: "Концепция",
											href: "/concepts.html",
											linkClass: "link link--black",
										}, {
											name: "Галерея",
											href: "/gallery.html",
											linkClass: "link link--black",
										}
									]
								}, {
									name: "Магазины",
									href: "/shops.html",
									linkClass: "link link--black link--red-bottom icon-shop",
								}, {
									name: "Развлечения",
									href: "/education.html",
									linkClass: "link link--black link--red-bottom",
								}, {
									name: "Сервис",
									href: "#",
									linkClass: "link link--black link--red-bottom",
								}, {
									name: "Схема комплекса",
									href: "/scheme.html",
									linkClass: "link link--black link--red-bottom",
								}, {
									name: "Акции",
									href: "/shares.html",
									linkClass: "link link--gray link--blue-bottom",
								}, {
									name: "Журнал",
									href: "/journal.html",
									linkClass: "link link--gray link--blue-bottom",
								}
							]
						})
						div(class="header-contacts")
							div(class="header-contacts-phone")
								a(href="tel:+78002001955", class="header-phone-link link link--black") 8 (800) 200 19 55
									div(class="header-phone-note") Звонок бесплатный, круглосуточно
							div(class="header-contacts-location")
								a(href="/pages/contacts.html#map", class="header-location-link link link--black") 
									div(class="header-location-point")
										include ../../prod/svg/icons/point_map.svg
									span(class="header-location-link-text") Как добраться

					
				div(class="header-row header-row--bottom")
					div(class="page-inner")
						div(class="header-logo")
							a(href="/home.html", class="header-logo-link")
								img(src="../dummy/logo.png", class="header-logo-img")
				
				
				
				
			main(class="page-content")
				block content

		footer(class="page-footer", itemscope, itemtype="http://schema.org/WPFooter")
			div(class="page-inner page-inner--w1")
				div(class="footer-row")
					a(href="http://ruformat.ru/", target="_blank", class="link link--black footer-creators")
						span(class="footer-creators-title") Дизайн и разработка сайта &#8212; 
						span(class="link link--black link--bold footer-creators-name") Ruformat.ru
					div(class="footer-copyrights") Идеология и контент - ЗАО &#171;ТК Горизонт&#187;
					div(class="footer-social")
						span(class="footer-social-title") Мы с социальных сетях:
						a(href="https://www.instagram.com/?hl=ru", target="_blank", title="Instagram", class="footer-social-item footer-social-item--instagram")
							include ../../prod/svg/icons/instagram.svg
						a(href="https://ru-ru.facebook.com", target="_blank", title="Facebook", class="footer-social-item footer-social-item--facebook")
							include ../../prod/svg/icons/facebook.svg	
						a(href="https://ok.ru", target="_blank", title="Одноклассники", class="footer-social-item footer-social-item--ok")
							include ../../prod/svg/icons/ok.svg	
								
		a(href="#top", title="Вверх", class="go-top")
			include ../../prod/svg/icons/arrow_black_up.svg	

		+addJS([
			{
				src: "http://code.jquery.com/jquery-1.11.3.min.js"
			}, {
				src: "../js/plugins/jquery.magnific-popup.min.js"
			}, {
				src: "http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU"
			},  {
				src: "../js/plugins/jquery.validate.min.js"
			},	{
				src: "../js/plugins/jcf.js"
			},	{
				src: "../js/plugins/jcf.file.js"
			},	{
				src: "../js/plugins/jquery.autocomplete.js"
			},	{
				src: "../js/plugins/owl.carousel.min.js"
			},  {
				src: "../js/plugins/sticky-kit.js"
			},	{
				src: "../js/" + info.code + ".js"
			}
		])
