/*** Settings ***/
@import "nib"
@import "../lib/css/css"

global-reset();
reset-html5();
form-reset();
b
strong
i
em
	font-style normal
	font-weight normal


/*-- variables --*/

cubic-transition = cubic-bezier(0.25, 0.46, 0.45, 0.94)
color-gray = #969aa3

color-black-hover =  rgba(#000000, 0.6)
/*-- //variables --*/


/*** //Settings ***/


/*** Fonts ***/
@font-face
	font-family "GothaProMed"
	src url("../fonts/GothaProMed.otf") format("otf")
/*** //Fonts ***/

html

body
	min-height 100%

	line-height 1

	color #000
	cursor default

	font-family "GothaProMed", sans-serif



/*** HEADER STYLES ***/
.page-header
	width 100%
	height 250px

	padding 20px 0 30px 0
	box-sizing border-box

	.header-row--top
		margin-bottom 15px

	.header-row
		.header-col
			float left
			box-sizing border-box
			&--1
				width 28%
			&--2
				width 72%

		.header-contacts
			display flex
			padding 15px 0

			.header-contacts-phone,
			.header-contacts-location
				width 50%

			.header-contacts-phone
				.header-phone-link
					font-weight bold

					.header-phone-note
						margin-top 4px

						font-size 12px
						font-weight normal

						text-transform lowercase
						color color-gray

			.header-contacts-location
				text-align right
				.header-location-link
					.header-location-link-text
						font-weight bold

		.header-logo
			display flex

			.header-logo-img
				margin 0 auto


/** main menu**/
.header-menu
	position relative
	width 100%
	display block

	.header-menu-inner
		.header-menu-item-holder
			display inline-block

			padding 15px 10px

			border 1px solid transparent
			box-sizing border-box

			.header-menu-item
				padding 5px 0

				.header-menu-item-name
					font-weight bold
					font-size 16px


		.hovered
			box-sizing border-box

			border 1px solid color-gray
			border-bottom-color transparent

			.header-menu-level1
				box-sizing border-box

				border 1px solid color-gray
				border-top-color transparent


				.header-menu-level1-inner
					opacity 1
					filter none
					transform translateY(0)

.header-menu-level1
	position absolute
	left 0
	display none
	box-sizing border-box
	width 118px

	transition background-color 0.5s cubic-transition

	.header-menu-level1-inner
		position relative

		padding 10px
		overflow hidden
		opacity 0

		transform translateY(20px)
		transition transform 0.5s cubic-transition, opacity 0.5s cubic-transition


	&-item-holder
		padding 10px 0

		a
			text-decoration none
			color #000

			transition all 0.5s cubic-transition
			&:hover
				opacity 0.5

/** //main menu **/

/*** //HEADER STYLES ***/

/*** FOOTER STYLES ***/
.page-footer
	width 100%
	height 80px

	background #fff

	.page-inner
		height 100%

	.footer-row
		display flex
		align-items center

		height 100%
		padding 0 10px

		.footer-infomation
			width 60%
			margin-right 4%

			.footer-development
				font-size 14px

			a
				font-weight 600
				font-size 14px

				text-transform uppercase
				margin-right 35px

			.footer-organization
				font-size 14px

		.footer-social
			width 40%
			text-align right

			.footer-social-text
				font-size 14px
/*** //FOOTER STYLES ***/











/*** COMMON STYLES***/
.link
	text-decoration none

.link-black
	color #000

.link-black-bottom
	border-bottom 2px solid transparent
	transition border-bottom-color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
	&:hover
		border-bottom-color #000

.link-black-inverse
	border-bottom 2px solid #000
	transition border-bottom-color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
	&:hover
		border-bottom-color transparent

.link-gray
	color color-gray

.link-bold
	font-weight bold

.link-red
	color #ee4784

.link-red-bottom
	border-bottom 2px solid transparent
	transition border-bottom-color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
	&:hover
		border-bottom-color #ee4784

.link-red-inverse
	border-bottom 2px solid #ee4784
	transition border-bottom-color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
	&:hover
		border-bottom-color transparent

.link-blue
	color #a23f97

.link-blue-bottom
	border-bottom 2px solid transparent
	transition border-bottom-color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
	&:hover
		border-bottom-color #a23f97

.link-blue-inverse
	border-bottom 2px solid #a23f97
	transition border-bottom-color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
	&:hover
		border-bottom-color transparent

.page-inner
	clearfix()
	width 100%

	max-width 1100px

	margin 0 auto
	box-sizing border-box


/*** //COMMON STYLES***/



/*** MAIN STYLES***/

/*** //MAIN STYLES***/
