/*** Settings ***/
@import "nib"
@import "../lib/css/css"

global-reset();
reset-html5();
form-reset();
b
strong
i
em
	font-style normal
	font-weight normal


/*-- variables --*/

$cubic-transition = cubic-bezier(0.25, 0.46, 0.45, 0.94)

$color-gray = #969aa3
$color-blue = #a23f97
$color-yellow = #ffd102
$color-darkgray = #333333
$color-red = #ee4784

$color-black-hover =  rgba(#000000, 0.6)
/*-- //variables --*/


/*** //Settings ***/


/*** Fonts ***/
@font-face
	font-family "GothamProBlack"
	src url("../fonts/GothamProBlack.woff") format("woff")

@font-face
	font-family "GothamProBold"
	src url("../fonts/GothamProBold.woff") format("woff")

@font-face
	font-family "GothamProLight"
	src url("../fonts/GothamProLight.woff") format("woff")

@font-face
	font-family "GothamProMedium"
	src url("../fonts/GothamProMedium.woff") format("woff")

@font-face
	font-family "GothamProRegular"
	src url("../fonts/GothamProRegular.woff") format("woff")
/*** //Fonts ***/

/*** structure ***/

html
	height 100%
body
	min-height 100%
	height 100%
	line-height 1

	color #333333
	cursor default

	font-family "GothamProLight", sans-serif

body
	min-height 100%

.page
	width 100%
	min-height 100%

.page-content
	margin 0 auto

.page-content-inner
	transition opacity 0.3s $cubic-transition, transform 0.6s $cubic-transition

	&.loading
		opacity 0
		transform translateY(-50px)
/*** //structure ***/

/*** HEADER STYLES ***/
.page-header
	width 100%
	height 215px

	padding 20px 0 0 0
	box-sizing border-box

	.header-row--top
		margin-bottom 5px

	.header-row
		.header-col
			float left
			box-sizing border-box
			&--1
				width 28%
			&--2
				width 72%

		.header-contacts
			position relative
			display flex
			float left

			width 28%
			padding 17px 0

			z-index 10000

			.header-contacts-phone,
			.header-contacts-location
				width 50%

			.header-contacts-phone
				.header-phone-link
					font-family GothamProMedium

					.header-phone-note
						margin-top 4px

						font-size 12px
						font-weight normal
						font-family GothamProRegular

						text-transform lowercase
						color $color-gray

			.header-contacts-location
				text-align right

				.header-location-point
					position absolute

					top -4px
					height 23px
					width 20px
					left -25px

				.header-location-link
					position relative

					.header-location-link-text
						font-family GothamProMedium

		.header-logo
			text-align center

			.header-logo-img
				position relative
				margin 0 auto

				z-index 10000

/** main menu**/
.header-menu
	position relative
	float left

	width 72%
	display block

	margin-left -15px
	margin-right 15px
	z-index 10000

	.header-menu-inner
		.header-menu-item-holder
			display inline-block

			padding 15px 0px

			border 1px solid transparent
			box-sizing border-box

			font-family GothamProMedium

			.header-menu-item
				padding 5px 5px 5px 3px

				white-space nowrap

				.header-menu-item-name
					font-size 16px

			&--has-submenu
				padding 15px 10px
				width 126px
				margin-right 10px

				.header-menu-item
					padding 5px 0px

				.header-menu-level1
					border 1px solid transparent



		.hovered
			box-sizing border-box

			border 1px solid $color-gray
			border-bottom-color transparent

			.header-menu-level1
				box-sizing border-box

				border-color $color-gray
				border-top-color transparent


				.header-menu-level1-inner
					opacity 1
					filter none
					transform translateY(0)

.header-menu-level1
	position absolute
	left 0
	display none
	box-sizing border-box
	width 126px

	background #fff

	transition background-color 0.5s $cubic-transition
	z-index 10000

	.header-menu-level1-inner
		position relative

		padding 10px
		overflow hidden
		opacity 0

		transform translateY(20px)
		transition transform 0.5s $cubic-transition, opacity 0.5s $cubic-transition


	&-item-holder
		padding 10px 0

		font-family GothamProRegular

		a
			text-decoration none
			color #000

			transition all 0.5s $cubic-transition
			&:hover
				opacity 0.5

.icon-shop
	position relative
	margin-left 30px
	&:before
		content ""
		position absolute
		top 3px
		left -29px

		background-image: url("../svg/icons/shop_white.svg")
		background-size contain
		background-repeat no-repeat

		width 18px
		height 30px

		z-index 100

	&:after
		content ""
		position absolute
		top -2px
		left -38px

		display block

		width 35px
		height 35px

		border-radius 35px

		background $color-blue


/** //main menu **/

/** mobile menu **/


.mobile-header
	position fixed
	top 0
	left 0

	display none
	width 100%

	padding 10px 20px

	margin 0 auto
	box-sizing border-box

	z-index 1000
	background #fff

	.mobile-header-inner
		display inline-block
		width 50%
		vertical-align top

		.mobile-header-logo
			display block
			width 85px
			height 70px

			background-image url("../dummy/logo_mobile.png")
			background-repeat no-repeat

	.mobile-header-controls
		width 48%
		display inline-block
		vertical-align top

		margin-top 25px

		text-align right


		.mobile-header-controls-location
		.mobile-header-controls-mobile
			display inline-block
			width 22px
			height 30px

			vertical-align top

			svg
				display block
				width 100%
				height 100%

		.mobile-header-controls-mobile
			width 14px
			margin-left 23%

		.mobile-header-burger
			position relative
			display inline-block
			width 30px
			height 30px

			margin-left 23%

			.mobile-header-burger-inner
				content ""
				position absolute
				top 50%

				width 30px
				height 3px

				margin-top -2px

				vertical-align top

				background #9c3593

				transition transform 0.3s $cubic-transition

			&:before
				content ""
				position absolute
				top 0
				left 0
				right 0

				width 100%
				height 3px

				background #9c3593
				transition transform 0.3s $cubic-transition, width 0.3s $cubic-transition

			&:after
				content ""
				position absolute
				bottom 0
				left 0
				right 0

				width 100%
				height 3px

				background #9c3593

				transition transform 0.3s $cubic-transition, width 0.3s $cubic-transition

		.mobile-header-burger
			&.active
				.mobile-header-burger-inner
					opacity 0
				&:before
					width 40px
					transform rotate(45deg) translateY(12px) translateX(7px)
				&:after
					width 40px
					transform rotate(-45deg) translateY(-12px) translateX(6px)

.mobile-panel
	position fixed
	top 0
	left 0
	padding 25px 20px

	display block
	width 100%
	height 100%

	box-sizing border-box

	background $color-blue

	z-index 10001

	transform translateX(-100%)
	opacity 0
	overflow-y auto
	transition transform 0.8s $cubic-transition, opacity 0.6s $cubic-transition

	.mobile-panel-section
		display block
		width 100%

		overflow hidden

		margin-bottom 20px

		.mobile-panel-section-item-close
			display block
			width 35px
			height 35px

			border-radius 50%

			transition opacity 0.5s $cubic-transition, transform 0.5s $cubic-transition

			padding 25px
			background #f4f4f4

			float right

			&:focus
				transform rotate(360deg)

			svg
				width 100%
				vertical-align middle


		.mobile-menu
			padding 20px 20px
			border-top 1px solid $color-gray

			.mobile-menu-inner
				display block
				width 100%

				.mobile-menu-item-holder
					font-size 26px

					font-family GothamProMedium

					margin-bottom 40px

					.mobile-menu-item

						&.icon-shop
							margin-left 0

							&:before
								left auto
								right -50px

								background-image url("../svg/icons/shop.svg")

							&:after
								width 40px
								height 40px

								top -5px

								left auto
								right -61px

								background #fff

.show-menu
	.mobile-panel
		opacity 1
		transform translateX(0)


/** //mobile menu **/



/*** //HEADER STYLES ***/


/*** FOOTER STYLES ***/
.page-footer
	width 100%
	height 80px

	margin-top 120px

	background #fff

	.page-inner
		height 100%

	.footer-row
		display flex

		height 100%

		align-items center
		justify-content space-between

		.footer-creators
			float left
			width 32%
			margin-right 2%

			.footer-creators-title
				font-size 14px

			.footer-creators-name
				border-bottom 1px solid #cbcbcb
				transition border-bottom-color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)

				font-size 14px
				font-family: GothamProRegular

				text-transform uppercase
			&:hover
				.footer-creators-name
					border-bottom-color transparent

		.footer-copyrights
			width 34%
			font-size 14px


		.footer-social
			width 30%
			margin-left 6%
			text-align right

			.footer-social-title
				font-size 14px
				display inline-block
				float left

				margin-top 8px

			.footer-social-item
				position relative
				display inline-block

				margin 0px 5px

				width 32px
				height 32px

				box-sizing border-box

				border-radius 50%
				border 2px solid black

				transition opacity 0.5s $cubic-transition
				opacity 1

				svg
					position absolute
					width 60%
					display block
					left 50%
					top 50%
					transform: translate(-50%,-50%)
					path
						fill #000000
				&--facebook
					svg
						width 26%
				&--ok
					svg
						width 34%
				&:hover
					opacity: 0.5

/*** //FOOTER STYLES ***/

/*** COMMON STYLES***/

.link
	text-decoration none

.link--bold
	font-weight bold

.link--darkgray
	color #333333

.link--white
	color #fff

.link--black
	color #000


.link--black-bottom
	border-bottom 2px solid transparent
	transition border-bottom-color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
	&:hover
		border-bottom-color #000

.link--black-inverse
	border-bottom 2px solid #000
	transition border-bottom-color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
	&:hover
		border-bottom-color transparent


.link--gray
	color $color-gray

.link--gray-inverse
	border-bottom 1px solid $color-gray
	transition border-bottom-color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
	&:hover
		border-bottom-color transparent


.link--red
	color $color-red

.link--red-bottom
	border-bottom 2px solid transparent
	transition border-bottom-color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
	&:hover
		border-bottom-color $color-red

.link--red-inverse
	border-bottom 2px solid $color-red
	transition border-bottom-color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
	&:hover
		border-bottom-color transparent



.link--blue
	color $color-blue

.link--blue-bottom
	border-bottom 2px solid transparent
	transition border-bottom-color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
	&:hover
		border-bottom-color $color-blue

.link--blue-inverse
	border-bottom 2px solid $color-blue
	transition border-bottom-color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
	&:hover
		border-bottom-color transparent

.page-max
	display block
	width 100%

	&--relative
		position relative

	&--hidden
		overflow hidden



.page-inner
	width 100%

	max-width 1150px

	margin 0 auto
	box-sizing border-box
	padding 0 20px

	&--w1
		max-width 1150px
	&--w2
		max-width 1366px
		margin 0 auto
	&--relative
		position relative

	&--clearfix
		clearfix()

.page-text
	margin-bottom 45px
	line-height 2
	font-size 16px
	p
		margin-top 45px
		line-height 2
		font-size 16px

	cite
		display block
		width 100%

		margin-bottom 45px
		line-height 50px

		font-size 35px

	.docs
		.docs-item
			position relative
			display inline-block

			margin-bottom 70px

			font-size 34px
			font-family GothamProBold

			line-height 1
			
			color $color-darkgray
			text-decoration none


			.docs-item-text
				margin-left 30px

				border-bottom 1px solid $color-darkgray

				transition border-bottom-color 0.3s $cubic-transition


			.docs-item-icon
				float left

				vertical-align middle

				display inline-block

				width 44px
				height 33px

				padding 6px 5px
				box-sizing border-box
				background $color-blue

				color #fff

				font-size 18px
				font-family GothamProLight

			&:hover
				.docs-item-text
					border-bottom 1px solid transparent



.background-prev
	position relative
	display block
	width 100%
	height 350px
	margin-bottom 60px

	.background-prev-img
		position absolute
		top 0
		left 0

		display block
		width 100%
		height 100%

		object-fit cover


.load-more
	width 100%

	.load-more-btn
		display block

		width 335px
		margin 0 auto

		padding 20px 0

		background #e83b7d

		text-align center

		color #fff
		transition opacity 0.5s $cubic-transition

		font-size 18px

		&:hover
			opacity 0.8


/** search **/

.search
	position absolute

	.search-form
		position relative

	.search-input
		width 100%
		padding 5px 0 14px 0
		border-bottom 1px solid #cccccc

		&::-webkit-input-placeholder
			font-size 14px
			font-family GothamProRegular
			font-weight: 500
			color #333333

			opacity 1

			transition opacity 0.5s $cubic-transition, transform 0.5s $cubic-transition

		&:focus

			&::-webkit-input-placeholder
				opacity 0
				transform translateY(10px)

	.search-submit
		position absolute
		top 0
		right 10px

		width 25px
		height 25px

		&:before
		&:after
			content ""
			position absolute
			top 0
			left 0

			width 100%
			height 100%

			background-repeat no-repeat
			background-size contain

			transition opacity 0.5s $cubic-transition


		&:before
			background-image url("../svg/icons/loupe.svg")

			opacity 1

		&:after
			background-image url("../svg/icons/red_loupe.svg")

			opacity 0

		&:hover
			&:before
				opacity 0
			&:after
				opacity 1




.autocomplete-suggestions
	padding 30px
	box-sizing border-box

	border-bottom 1px solid #cccccc

	background #FFF

	overflow-y auto
	overflow-x hidden

.autocomplete-suggestion
	margin-bottom 30px
	white-space nowrap

	overflow hidden
	border-bottom 1px solid transparent

	transition background 0.6s $cubic-transition, border-bottom-color .3s $cubic-transition

	&:last-child
		margin-bottom 0


	.search-item
		border-bottom transparent

		color $color-darkgray
		text-decoration none

		transition border-bottom 0.6s $cubic-transition

		.search-item-name
			display block
			white-space nowrap

			overflow hidden

			text-overflow ellipsis

			b
				font-family GothamProBold


.autocomplete-selected
	.search-item-name
		border-bottom-color #cccccc


.autocomplete-group
	display none


/** //search **/


/** button up **/

.go-top
	position fixed

	left 50%
	bottom 130px

	display block

	width 20px
	margin-left 510px

	opacity 0
	cursor default

	transition opacity 0.5s $cubic-transition

.go-top.active
	opacity 1
	cursor pointer
	transition opacity 0.5s $cubic-transition

	&:hover
		opacity 0.6


/** //button up **/


/** social block **/

.social-container
	display block

	.social-container-text
		font-size 18px
		float left
		margin-top 6px
		margin-right 20px

	.social-item
		position relative
		display inline-block

		margin 0px 5px

		width 32px
		height 32px

		box-sizing border-box

		border-radius 50%
		border 2px solid black

		transition opacity 0.5s $cubic-transition
		opacity 1

		svg
			position absolute
			width 60%
			display block
			left 50%
			top 50%
			transform: translate(-50%,-50%)

			path
				fill #000000

		&--facebook
			svg
				width 26%
		&--ok
			svg
				width 34%

		&:hover
			opacity: 0.5

/** //social block **/


/** navigation **/

.navigation
	position absolute
	right 35px
	top 10px

	display block

	height 220px

	.navigation-items
		display block
		height 100%


		.navigation-item
			display block
			text-align center

			transition opacity 0.5s $cubic-transition
			&--close
				padding 13px
				margin-bottom 50px
				background #f4f4f4

				border-radius 50%

				svg
					width 13px
					vertical-align middle

			&--prev
				svg
					transform rotate(-90deg)
					width 20px
			&--next
				margin-bottom 45px
				svg
					transform rotate(90deg)
					width 20px
			&:hover
				opacity 0.6

/** //navigation **/

/** button **/

.btn
	display inline-block

	height 65px
	line-height 65px

	box-sizing border-box

	text-align center
	cursor pointer

	transition opacity 0.5s $cubic-transition

	color #000

	font-family GothamProLight

	text-decoration none
	&:hover
		opacity 0.8

.btn--yellow
	background-color $color-yellow

.btn--blue
	background-color $color-blue

.btn--red
	background-color $color-red

/** //button **/


/** acordeon **/

.acordeon-container-items
	overflow hidden

	.acordeon-container-item
		position relative

		display block
		height 150px

		overflow hidden

		background transparent

		border-bottom 1px solid #e6e6e6

		transition height 0.4s $cubic-transition, background 0.2s $cubic-transition

		will-change height

		cursor pointer

		text-decoration none

		img
			position absolute
			top 0
			left 0

			display block

			width 100%
			height 100%

			object-fit cover
			object-position top

			z-index -10
			opacity 0

			transition opacity 0.2s $cubic-transition

		&:first-child
			border-top 1px solid #e6e6e6


		.acordeon-container-item-header
			display flex
			align-items center
			height 150px
			padding 25px 0
			box-sizing border-box

			.acordeon-container-item-header-name
			.acordeon-container-item-header-count
			.acordeon-container-item-header-toggler
				display inline-block
				box-sizing border-box
				color $color-darkgray

				transition color 0.3s $cubic-transition


			.acordeon-container-item-header-name
				width 50%
				text-align left
				font-size 32px

			.acordeon-container-item-header-count
				width 30%
				font-size 32px
				text-align right
				padding-right 65px

			.acordeon-container-item-header-toggler
				width 20%
				text-align right

				.acordeon-container-item-header-toggler-title
					display none
					margin 0 20px
					font-size 18px

					border-bottom 1px solid #c17dba

					opacity 0

					transition opacity 0.3s $cubic-transition, border-bottom-color 0.3s $cubic-transition

					cursor pointer
					&:hover
						border-bottom-color transparent

				.acordeon-container-item-header-toggler-icon
					position relative
					display inline-block

					margin-right 25px
					vertical-align middle
					width 50px
					height 50px

					border 1px solid #000
					border-radius 50%

					transition border-color 0.3s $cubic-transition

					cursor pointer

					&:not(.acordeon-container-item-header-toggler-icon--arrow)
						&:after,
						&:before
							content ""
							position: absolute
							top 50%
							left 50%

							background #000

							transition background 0.3s $cubic-transition

						&:after
							width 20px
							height 1px

							margin -0.5px 0 0 -10px

							transition opacity 0.3s $cubic-transition
						&:before
							width 1px
							height 20px

							margin -10px 0 0 -0.5px

							opacity 1
							transform translateY(0)

							transition opacity 0.3s $cubic-transition, transform 0.5s $cubic-transition

					&.acordeon-container-item-header-toggler-icon--arrow
						svg
							position absolute
							width 16px
							height 26px

							transform rotate(90deg)

							top 50%
							left 50%

							margin-top -13px
							margin-left -8px

							path
								fill #000

								transition fill 0.3s $cubic-transition


		&:hover
			img
				opacity 1

			.acordeon-container-item-header

				.acordeon-container-item-header-name
				.acordeon-container-item-header-count
					color #fff

				.acordeon-container-item-header-toggler-icon

					border-color #fff
					&:not(.acordeon-container-item-header-toggler-icon--arrow)
						&:before
							background #fff
						&:after
							background #fff


					&.acordeon-container-item-header-toggler-icon--arrow
						svg
							path
								fill #fff

				.acordeon-container-item-header-toggler-title
					color #fff


		.acordeon-container-item-content
			position relative

			column-count 4
			column-gap 85px

			display block
			width 100%

			padding 65px 20px 80px 0px

			box-sizing border-box

			&:before
				content ""

				position: absolute
				top 0
				display block

				height 1px

				background #a8a8a8

				width 1000%
				margin-left -500%

				z-index -10

			.acordeon-container-item-content-link
				display block
				position relative

				font-size 18px

				margin-bottom 30px

				&:after
					content ""
					position absolute
					bottom 0

					margin-left 15px

					display inline-block

					width 15px
					height 15px

					opacity 0

					background url("../svg/icons/arrow_white_up.svg")
					background-repeat no-repeat

					transform rotate(90deg) translateY(0px)

					transition opacity 0.3s $cubic-transition, transform 0.6s $cubic-transition

				&:hover
					&:after
						transform rotate(90deg) translateY(-10px)

						opacity 1

		&.acordeon-container-item--active
			img
				opacity 1

			.acordeon-container-item-header
				.acordeon-container-item-header-name
				.acordeon-container-item-header-count
				.acordeon-container-item-header-toggler
					color #fff


				.acordeon-container-item-header-toggler
					.acordeon-container-item-header-toggler-title
						opacity 1

					.acordeon-container-item-header-toggler-icon
						border-color #fff

						&:not(.acordeon-container-item-header-toggler-icon--arrow)
							&:after
								background #fff

							&:before
								opacity 0
								transform translateY(-20px)

/** //acordeon **/

/*** //COMMON STYLES***/




/*** MAIN STYLES***/

.page-title
	letter-spacing 7px
	font-size 18px

	text-transform uppercase

	font-family GothamProMedium

	&--big
		font-size 70px

		letter-spacing inherit

		text-transform inherit


/*** shares ***/
.shares
	width 100%

	margin-top 55px

	.shares-container-items
		display block

		.shares-item
			transform translateY(0px)

			transition opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)

			&.load-events-item
				opacity 0
				transform translateY(50px)

			&.animation-block
				opacity 1

				transform translateY(550px)

				transition opacity 0.3s $cubic-transition, transform 0.8s $cubic-transition

				&.animated
					transform translateY(0)
					opacity 1

	.load-more
		display block
		margin-top 60px

	.shares-item
		display inline-block
		vertical-align top

		width 28%

		margin-bottom 50px
		margin-right 7.55555%

		&:nth-child(3n)
			margin-right 0%

		.shares-item-heading
			margin-bottom 20px

			.shares-item-photo-holder
				.shares-item-photo
					display block
					max-width 100%

					transition border-radius 0.3s $cubic-transition


		.shares-item-content
			width 100%

			.shares-item-content-title
				position relative

				width 75%

				margin-bottom 5px

				span
					font-size 24px
				    line-height 30px

				&:after
					content ""

					position absolute
					left 65%
					top 0

					width 50%
					height 110%

					background #fecc00

					opacity 0

					transition opacity 0.5s $cubic-transition, transform 0.5s $cubic-transition

					z-index -10

				&:before
					content ""
					position absolute

					top 15%
					left 95%
					width 20px
					height 22px

					display block
					opacity 0

					background url("../svg/icons/arrow_black_up.svg")
					background-size contain
					background-repeat no-repeat

					transform rotate(90deg) translateY(120%)
					transition opacity 0.5s $cubic-transition, transform 0.3s $cubic-transition

			.shares-item-content-text
				width 100%
				margin-bottom 10px

				line-height 20px

			.shares-item-content-shop
				width 100%
				margin-bottom 10px

				font-family GothamProMedium
				font-weight bold

			.shares-item-content-tag
				display inline-block
				padding 6px 10px

				background #a24098
				color #fff

				text-transform lowercase

				font-weight 100

		&--title-bold
			.shares-item-content
				.shares-item-content-title
					span
						font-size 34px
						font-weight 600

						font-family GothamProBold

						line-height 36px
		&:hover
			.shares-item-heading
				.shares-item-photo-holder
					.shares-item-photo
						border-radius 50%

			.shares-item-content-title:after
				opacity 1
				transform translateX(10%)

			.shares-item-content-title:before
				opacity 1
				transform rotate(90deg) translateY(-50%)

/*** //shares ***/


/*** article ***/
		/*
		.page-content-inner
			&.page-content-inner--article
				transition opacity 0.3s $cubic-transition, transform 0.8s $cubic-transition

				&.loading
					opacity 0
					transform translateX(-250px)
		*/

.article
	display block
	width 82%
	margin-top 25px

	.page-title--big
		line-height 60px

	.article-info
		margin-top 15px

		font-size 16px

	.article-shop
		margin-top 15px

		font-weight bold
		font-size 16px
		font-family GothamProMedium

	.social-container
		margin-top 45px

	.article-img
		margin-top 60px


.similar-shares
	display block
	width 100%

	margin-top 150px

	.similar-shares-title
		margin-bottom 80px
		font-size 20px
		font-family GothamProRegular

	.similar-shares-items
		display block
		clearfix()

		.similar-shares-item
			display inline-block
			vertical-align top

			width 28%

			margin-right 6%

			&:nth-child(3n)
				margin-right 0%

			.similar-shares-item-heading
				margin-bottom 15px

			.similar-shares-item-content
				.similar-shares-item-content-title
					position relative

					width 75%

					margin-bottom 5px

					span
						font-size 24px
					    line-height 30px

					&:after
						content ""

						position absolute
						left 65%
						top 0

						width 50%
						height 110%

						background #fecc00

						opacity 0

						transition opacity 0.5s $cubic-transition, transform 0.5s $cubic-transition

						z-index -10

					&:before
						content ""
						position absolute

						top 15%
						left 90%
						width 20px
						height 22px

						display block
						opacity 0

						background url("../svg/icons/arrow_black_up.svg")
						background-size contain
						background-repeat no-repeat

						transform rotate(90deg) translateY(120%)
						transition opacity 0.5s $cubic-transition, transform 0.3s $cubic-transition


				&-title
					font-size 34px
					margin-bottom 25px
				&-text
					margin-bottom 15px
				&-shop
					font-family GothamProMedium

			&:hover
				.similar-shares-item-content-title:after
					opacity 1
					transform translateX(10%)

				.similar-shares-item-content-title:before
					opacity 1
					transform rotate(90deg) translateY(-100%)

/*** //article ***/

/*** journal ***/

.journal
	position relative

	display block

	.journal-information
		width: 400px

		margin 0 auto
		margin-top 40px
		margin-bottom 60px

		line-height 2

		font-size 16px
		text-align center

	.journal-container-items
		display block

	.journal-row
		display block
		margin-bottom 55px

		transition opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)

		&.load-events-item
			opacity 0
			transform translateY(50px)


		.journal-row-year
			display block

			font-size 32px

			text-align center

			margin-bottom 45px

		.journal-items
			display flex
			flex-wrap wrap
			justify-content space-between

			.journal-item
				display block
				position relative

				margin-bottom 40px

				transition transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
				&:before
					content ""
					position absolute
					top 0

					width 100%
					height 100%

					opacity 0

					background rgba(0, 0, 0, 0.5)

					transform scale(0.5)
					transition opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)

				&:after
					content ""
					position absolute

					top 50%
					left 50%

					width 60px
					height 35px

					margin-left -30px
					margin-top -10px

					background url("../svg/icons/eye.svg")
					background-repeat no-repeat
					background-size contain
					opacity 0

					transform translateY(50%)

					transition opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)


				&:hover
					transform scale(1.1)
					&:before
						opacity 1
						transform scale(1)

					&:after
						opacity 1
						transform translateY(0)

				img
					width 100%
					display block

	.load-more
		display block
		margin-top -20px
		.load-more-btn
			width 185px

	.search
		top -60px
		right 0
		width 310px


/*** //journal ***/


/*** search result***/

.search-result
	position relative
	width 100%
	margin-top 65px

	.search
		top -90px
		left 50%
		margin-left -270px
		width 620px

	.search-result-items
		width 100%
		display block

		.search-result-item
			padding 30px 0
			border-top 1px solid #e6e6e6


			&:last-child
				border-bottom 1px solid #e6e6e6

			.search-result-item-inner
				padding 0px 75px 0 55px

				display flex
				align-items center

				.search-result-item-logo
					display block
					width 15%
					margin-right 5%
					text-align center

					.search-result-item-logo-shop
						display block
						width 100%

				.search-result-item-shop
					display block
					width 30%

					.search-result-item-shop-name
						display block
						margin-bottom 16px
						font-size 16px

					.search-result-item-shop-phone
						display block
						font-size 16px

				.search-result-item-products
					display block
					width 30%

					.search-result-item-products-time
						display block
						margin-bottom 15px
						margin-top 15px

					.search-result-item-products-text--bold
						font-family GothamProBold


					.search-result-item-products-more
						padding 7px 10px
						text-transform lowercase

						height 30px
						line-height 1
						font-size 16px
						color #fff

				.search-result-item-location
					display block
					width 20%

					.search-result-item-location-floor
						display block
						margin-bottom 35px

					.search-result-item-location-floor-show
						height 50px
						padding 17px 15px

						line-height 1
						font-size 16px

						text-transform lowercase


/*** search result***/


/*** gallery***/

.gallery
	display block

	width 105%
	margin-left -2.5%

	margin-top 60px

	.gallery-container-items
		font-size 0

	.gallery-container-item
		position relative

		display inline-block
		vertical-align top

		margin-bottom 40px

		transition opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)

		overflow hidden

		&.load-events-item
			opacity 0
			transform translateY(-90px)

		&:before
			content ""

			display block
			padding-top 75%

		&--w1
			width 45%
			margin-left 2.5%
			margin-right 2.5%
		&--w2
			width 28.33333333%
			margin-right 2.5%
			margin-left 2.5%

		&:after
			content ""
			position absolute

			top 50%
			left 50%

			width 90px
			height 50px

			margin-left -45px
			margin-top -25px

			background url("../svg/icons/eye.svg")
			background-repeat no-repeat
			background-size contain
			opacity 0

			transform translateY(10%)

			transition all 0.5s $cubic-transition

		.gallery-container-item-img
			position absolute
			left 0
			top 0

			display block
			width 100%
			height 100%

			object-fit cover

		.gallery-container-item-background
			content ""

			position absolute
			top 0

			width 100%
			height 100%

			transform scale(0.5)

			opacity 0

			background rgba(0, 0, 0, 0.5)

			transition opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)


		.gallery-container-item-title
			position absolute
			top 20px
			left 20px

			padding 5px

			color #fff
			font-family GothamProMedium
			font-size 16px

			opacity 0
			transform translateY(-10px)

			transition all 0.5s $cubic-transition

			z-index: 200

			&--green
				background #faaf78

			&--blue
				background $color-blue

		&:not(.gallery-container-item--video):hover
			.gallery-container-item-background
				opacity 1
				transform scale(1)

			&:after
				opacity 1
				transform translateY(0%)

		&--video
			&:after
				width: 0
				height 0

				top 0
				left 0
				bottom 0
				right 0
				margin auto

				border-top 65px solid transparent
				border-left 105px solid #e83b7d
				border-bottom 65px solid transparent

				opacity 1

				background transparent

			.gallery-container-item-title
				opacity 1
				transform translateX(0px)

	.load-more
		margin-top 20px

		.load-more-btn
			width 150px

/* magnific popup */



/* //magnific popup */

.mfp-gallery
	&.mfp-wrap
		background rgba(242, 89, 145, 0.6)

	&.mfp-with-anim
		opacity 0
		transition all 1s $cubic-transition
		transform scale(0.8)

	&.mfp-bg
		opacity 0
		transition all 1s $cubic-transition

	&.mfp-ready
		.mfp-with-anim
			opacity 1
			transform scale(1)
		&.mfp-bg
			opacity 0.8

	&.mfp-removing

		.mfp-with-anim
			transform scale(0.8)
			opacity 0

		&.mfp-bg
			opacity 0

	&.mfp-bg, .mfp-preloader
		opacity 0
		transition all 0.3s ease-out

	.mfp-container
		.mfp-content
			.mfp-close
				position absolute
				top -25px
				right -80px

				display inline-block
				padding 0


				width 40px
				height 40px


				border-radius 20px

				opacity 1

				background #fff

				line-height 0

				font-size 26px
				text-align center
				color #000

				transition all 0.5s $cubic-transition

				cursor pointer

				&:hover
					transform: rotate(360deg);
					opacity 0.8

		.mfp-gallery-arrow

			position: absolute
			top 48%

			display inline-block

			width: 40px
			height 40px

			border-radius 30px

			background: #fff

			transition all 0.5s $cubic-transition


			&--left,&--right

				&:before
					content ""

					position absolute
					width 22px
					height 20px

					background-repeat no-repeat
					background-image: url("../svg/icons/arrow_black_up.svg")

					transition opacity 0.5s $cubic-transition

					z-index: 10000


			&--right
				right -80px

				&:before
					top 13px
					right 8px
					transform rotate(90deg)

			&--left
				left -80px

				&:before
					top 8px
					left 10px
					transform rotate(-90deg)

			&:hover
				opacity 0.8

/*** //gallery***/


/*** shops ***/

.shops
	position relative
	width 100%
	margin-top 30px

	.search
		top -50px
		right 125px
		width 310px


/*** //shops ***/

/*** service, entertainment, 404  ***/

.service
.entertainment
.page404
.scheme
.search-empty
	position relative
	width 100%
	margin-top 30px

	.search
		top -160px
		right 125px
		width 310px

.service
.entertainment
	.search
		top -50px
		right 125px
		width 310px


/*** //service, entertainment, 404 ***/



/*** shops detail ***/

.shops-detail
	display flex

	.shops-detail-photo-holder
		display block
		width 100%

		.shops-detail-photo-holder-img
			width 100%

	.shops-detail-col
		position relative
		display block
		width 50%

		&--left
			flex 1
			float left

		&--right
			flex 1
			float right

			background #f4f4f4

	.shops-detail-description
		display block
		padding 55px 85px 10px 130px
		box-sizing border-box

		.shops-detail-articles
			display block
			margin-bottom 70px

			.shops-detail-articles-description
				.page-text
					font-size 18px
				p
					font-size 18px
					margin-bottom 35px

				.shops-detail-more-link
					display block
					width 150px
					height 65px

					font-size 18px

					padding 25px
					box-sizing border-box

					line-height 1

					margin-top -15px
					background #ffd001

					opacity 1
					transition opacity 0.5s $cubic-transition

					&:hover
						opacity 0.6
				&--hide
					display none
					transform translateY(-20px)

					opacity 0

					transition transform 0.3s $cubic-transition, opacity 0.3s $cubic-transition

					&.show
						transform translateY(0)
						opacity 1


		.shops-detail-shares
			.shops-detail-shares-title
				display block
				margin-bottom 35px
				font-size 30px

			.shops-detail-shares-item
				display block
				width 100%
				overflow hidden

				margin-bottom 30px

				.shops-detail-shares-item-holder
					width 145px
					height 145px
					display block
					float left

					border-radius 50%

					.shops-detail-shares-item-holder-img
						vertical-align middle
						display inline-block
						max-width 100%
						max-height 100%
						width auto
						height auto

				.shops-detail-shares-item-discount
					display inline-block
					padding 15px 0 10px 25px

					.shops-detail-shares-item-discount-type
					.shops-detail-shares-item-discount-date
						display block
						width 100%

						font-size 18px

					.shops-detail-shares-item-discount-type
						margin-bottom 20px

					.shops-detail-shares-item-discount-date
						margin-bottom 15px

					.shops-detail-shares-item-discount-arrow
						display block
						width 200px
						height 35px
						overflow hidden
						svg
							width 120px
							height 100%

							transition transform 0.5s $cubic-transition

				&:hover
					.shops-detail-shares-item-discount
						.shops-detail-shares-item-discount-arrow
							svg
								transform scaleX(1.3)

		.shops-detail-similar
			margin-top 100px

			.shops-detail-similar-title
				font-size 30px
				display block
				margin-bottom 45px

			.shops-detail-similar-items
				display flex
				flex-wrap wrap
				justify-content: space-between
				align-items center

				.shops-detail-similar-item-holder
					width 20%
					height 60px

					margin-bottom 60px
					margin-right 2%

					.shops-detail-similar-item-holder-img
						height 100%
						width 100%
						object-fit contain


	.shops-detail-information
		position relative

		padding 100px 115px
		box-sizing border-box

		background #f4f4f4

		.shops-detail-information-container
			position relative

			.navigation
				top -15px
				right 10%
				height auto

			.shops-detail-information-holder
				display block
				width 100%
				margin-bottom 50px

			.shops-detail-information-tags-items
				display block
				margin-bottom 10px

				.shops-detail-information-tags-item
					border-bottom-width 1px
					margin-right 5px
					font-size 18px

					transition color 0.6s $cubic-transition, 0.5s $cubic-transition

					border-bottom 1px solid $color-gray

					&:hover
						border-bottom-color transparent

						color $color-gray


			.shops-detail-information-contacts
				display block
				margin-bottom 15px

				.shops-detail-information-contacts-phone
					font-size 18px
					display inline-block
					margin-right 20px

				.shops-detail-information-contacts-time
					font-size 18px

			.shops-detail-information-email
				display inline-block

				border-bottom-width 1px
				font-size 18px
				margin-bottom 90px


			.shops-detail-scheme-link
				display block

				width 350px
				height 85px

				padding 20px 40px
				box-sizing border-box

				font-size 24px
				margin-bottom 65px

				background #ffd001

				opacity 1
				transition opacity 0.5s $cubic-transition

				&:hover
					opacity 0.6

			.social-container
			.social-container-text
				margin-left 10px

			.navigation
				.navigation-item--close
					background #fff

.owl-dots
	position absolute
	display block

	bottom 70px

	width 100%

	.dots-item
		display inline-block

		width 8px
		height 8px

		margin-right 35px
		border-radius 50%

		border 3px solid #fff

		transition transform 0.3s $cubic-transition

		cursor pointer

		&:last-child
			margin-right 0px
		&.active
			transform scale(1.3)


/*** //shops detail ***/


/*** contacts ***/

.contacts
	position relative
	display block

	margin-top 98px

	.search
		top -118px
		right 10px
		width 312px


	.contacts-welcome
		display block
		width 70%

		margin-bottom 67px

		.contacts-welcome-title
			line-height 40px
			font-size 34px

	.contacts-items
		display block
		width 100%

		.contacts-item
			display block
			padding 50px 210px 55px 210px
			border-top 1px solid #e0e0e0
			overflow hidden

			&--left
				.contacts-employees-holder
					margin-left 10px
					float left

					box-shadow 45px 45px 0px -20px rgba(85,68,155,1)

					.contacts-employees-holder-img
						display block
						width 100%

				.contacts-employees-description
					margin-left 140px
					margin-top 80px

			&--right
				.contacts-employees-holder
					float right
					margin-top -2px
					margin-right 45px

					box-shadow 45px 45px 0px -20px rgba(238,69,131,1)

					.contacts-employees-holder-img
						display block
						width 100%

				.contacts-employees-description
					margin 45px 0px 0px 20px

			&:last-child
				border-bottom 1px solid #e0e0e0

			.contacts-employees-holder
				width 200px
				display inline-block
				text-align center


				.contacts-employees-holder-img
					width 100%

			.contacts-employees-description
				width 300px
				display inline-block
				vertical-align: top

				.contacts-employees-position
					display block
					width 100%

					font-size 16px

					margin-bottom 5px

					line-height 25px

				.contacts-employees-name
					display block
					width 100%

					font-family GothamProBold
					font-size 16px

.contacts
	.contacts-departments
		margin-top 120px

		.contacts-departments-title
			display block
			width 100%

			margin-bottom 90px

			font-size 34px

		.contacts-departments-items
			width 100%
			display block

			margin-bottom 92px

			.contacts-departments-item
				width 49%
				vertical-align top
				display inline-block

				.contacts-departments-item-name
					display block
					width 100%

					margin-bottom 15px

					font-size 16px
					font-family GothamProBold

				.contacts-departments-item-phone
					display block
					width 100%

					font-size 34px

					margin-bottom 15px

				.contacts-departments-item-time
					margin-bottom 15px

	.contacts-application
		display block
		width 100%
		height 210px

		background #ef4785

		color #fff

		padding 90px 0
		box-sizing border-box

		margin-bottom 155px

		text-align center

		font-size 34px

		opacity 1
		transition all 0.5s $cubic-transition

		&:hover
			opacity 0.8
		span
			display: inline-block;
			position: relative;
			&:before
				content ""
				position absolute

				top 50%
				left -90px
				margin-top: -33px

				width 47px
				height 66px

				background-image: url("../svg/icons/application.svg")
				background-size contain
				background-repeat no-repeat

				z-index 100

.contacts-location
	display block

	width 100%

	.contacts-location-title
		position relative
		display inline-block

		margin-bottom: 50px

		font-size: 16px
		font-family: GothamProBold

		&:after
			content ""
			position absolute
			top -83px
			right -151px

			width 100px
			height 100px

			background-image url(../svg/icons/compass.svg)
			background-size contain
			background-repeat no-repeat
			z-index 100


	.contacts-location-container
		display flex
		flex-wrap wrap

		width 100%
		height 100%

		.contacts-location-container-holder
			width 50%
			display inline-block

			.contacts-location-container-holder-img
				width 100%
				height 100%
				object-fit fill

		.contacts-location-container-map
			width 49%
			display inline-block
			vertical-align top
			min-height 715px
			height 100%




/** form **/

.mfp-form
	.mfp-content
		padding 150px 0

		button.mfp-close
			width 40px
			height 40px

			padding 20px

			right 50px
			top 40px
			background $color-blue

			opacity 1

			transition opacity 0.3s $cubic-transition
			img
				width 15px
				height 15px

				top 50%
				left 50%

				margin-top -7.5px
				margin-left -7.5px

				opacity 1
				padding 0
				line-height 0

				transition transform 0.3s $cubic-transition

			&:hover
				opacity 0.6
				img
					transform scale(0.8)



.application-form
	position relative

	width 855px

	margin 0 auto
	padding 70px 90px

	background white

	.form-title
		position relative

		display inline-block
		width 100%

		margin-bottom 80px

		font-size 48px
		text-align center

		&:before
			content ""
			position absolute

			top 50%
			left 120px
			margin-top: -33px

			width 47px
			height 66px

			background-image: url("../svg/icons/application_red.svg")
			background-size contain
			background-repeat no-repeat

			z-index 100

		&--result
			margin-top 70px
			&:before
				content""
				background none

	.form-subtitle
		position relative
		display inline-block

		left 50%
		transform translate(-50%)

		margin-top 100px
		font-size 18px
		text-align center

		&:before
			content ""
			position absolute

			top 50%
			left -75px
			margin-top: -33px

			width 47px
			height 66px

			background-image: url("../svg/icons/application_red.svg")
			background-size contain
			background-repeat no-repeat

			z-index 100


	.form-items
		display block
		width 100%

		.form-information
			display block
			width 100%

			font-size 24px
			font-family GothamProRegular

			text-align center
			margin-bottom 50px

			&--mini
				display block

				width 100%

				padding-left 20px
				margin-bottom 15px

				font-size 18px
				font-family GothamProLight

				text-align: left

		.form-container-item
			position relative
			display block
			width 100%

			&--center
				text-align center

			.form-item.form-item--error
				border 2px solid $color-red

			span.form-item--error
				position absolute
				bottom -15px
				left 50%

				transform translateX(-50%)

				font-size 14px

				color $color-red

			.form-container-item-name
				display block
				width 100%

				padding-left 20px
				margin-bottom 15px

				font-size 18px

				text-align left
				cursor pointer

			.form-item
				display block
				width 100%
				height 65px

				padding 10px
				box-sizing border-box

				margin-bottom 35px

				border 1px solid #c3c3c3

				font-size 18px

				font-family GothamProLight

				transition border 0.6s $cubic-transition

				&--textarea
					height auto
					resize none
					overflow auto

				&:focus
					border 2px solid #000
				&:hover
					border 2px solid #000

			.form-item-submit
				width 355px
				height 85px

				margin 0 auto
				margin-top 60px

				font-size 20px
				color #fff

			.jcf-file
				position relative

				display block

				overflow hidden

				.jcf-fake-list
					float left

					display block
					width 80%
					height 65px

					padding 10px
					box-sizing border-box

					margin-bottom 35px

					border 1px solid #c3c3c3

					font-size 18px
					font-family GothamProLight

					.fake-list-item
						margin-top: 12px

				.form-item--file.jcf-real-element
					top 0
					margin-bottom: 0
					cursor pointer

				.jcf-upload-button
					position relative
					width 18%
					height 66px

					margin-left 2%

					line-height 66px

					background #f5f3f0

					font-size 18px

					transition background 0.6s $cubic-transition

					z-index 1111
					&:hover
						opacity 1
						background #dbdad7


				&.jcf-focus
					.jcf-upload-button
						opacity 1
						background #dbdad7


		.form-container-item-columns
			display flex
			flex-direction row

			width 100%

			margin-bottom 35px

			.form-item--textarea
				margin-bottom 0

			.form-container-item-list
				flex-shrink 0
				padding-left 25px

				ul
					padding 15px 0 20px 5px

					li
						position relative

						padding-left 10px

						margin-bottom 10px
						font-size 14px

						&:last-child
							margin-bottom 0

						&:before
							content "-"
							position absolute
							left 0

							margin-right 30px

							font-size 14px
							font-weight bold

							color $color-darkgray


.mfp-bg
	background-color rgba(0, 0, 0, 0.48)

.mfp-form.mfp-bg
	opacity 0

	transition opacity 0.3s $cubic-transition

	&.mfp-ready
		opacity 0.5

	&.mfp-removing
		opacity 0

.mfp-form.mfp-wrap
	.mfp-content
		opacity 0

		transform translateY(-50px)

		transition opacity 0.3s $cubic-transition, transform 0.3s $cubic-transition

	&.mfp-ready
		.mfp-content
			opacity 1

			transform translateY(0)

	&.mfp-removing
		.mfp-content
			opacity 0

			transform translateY(-50px)

/** //form **/

/*** //contacts ***/

/*** home page ***/

.home-promo
	position relative
	display block

	width 100%
	min-height 400px

	margin-bottom 160px

	text-align center

	.home-promo-holder
		position relative
		display inline-block
		width 685px

		z-index -150
		.home-promo-holder-video
			display block

			max-width 100%
			max-height 100%

			width auto
			height auto

	.home-promo-count
		position absolute
		top 165	px
		left 40px

		width 230px
		height 185px

		.home-promo-count-img
			position absolute

			top -155px
			left -40px
			width 170px
			height 200px

			z-index -100

			svg
				display block
				width 100%
				g
					fill #fecc00

		.home-promo-count-title
			display block
			width 100%

			margin-bottom 20px
			font-size 115px
			font-family GothamProMedium

			text-align left

		.home-promo-count-text
			display block
			width 90%

			font-size 22px

			letter-spacing 4px
			text-align left
			line-height 23px

			text-transform uppercase

	.home-promo-search
		position absolute

		right -15px
		top 175px
		width 275px
		height 135px

		text-align left

		.home-promo-search-img
			position absolute
			top 95px
			left 40px

			width 190px
			height 190px

			z-index -100

		.home-promo-search-title
			display block
			width 100%

			margin-bottom 30px

			text-align left

		.home-promo-search-link
			display inline-block
			font-size 35px
			font-family GothamProMedium

			text-align left

			border-width 1px

			margin-bottom 20px


.offers
	position relative
	display block

	width 100%

	&--concept
		margin-bottom 70px
	&:after
		content ""

		position absolute
		top 215px
		left 0

		width 100%
		height 80%

		background #ef4784

		z-index -200

	.offers-items
		display block
		width 105%

		margin-left -2.5%

		&:before
			content ""

			position absolute
			top 610px
			left -45px

			width 85px
			height 320px

			background url("../svg/icons/exclamation_point.svg")
			background-repeat no-repeat

			z-index -190

		.offers-item
			position relative
			display inline-block

			height 385px

			margin-bottom 40px

			vertical-align top

			background #f5f3f0

			&--w1
				width 45%

				margin-left 2.5%
				margin-right 2.5%

			&--w2
				width 28.33333%
				margin-left 2.5%
				margin-right 2.5%

			&.animation-block
				opacity 1

				transform translateY(250px)

				transition opacity 0.8s $cubic-transition, transform 0.8s $cubic-transition

				&.animated
					transform translateY(0)
					opacity 1

			.offers-item-heading
				position relative

				display block
				width 100%
				height 130px

				padding 30px 35px
				box-sizing border-box

				z-index 100

				.offers-item-heading-tag
					display inline-block

					margin-bottom 5px

					padding 10px 10px 5px 10px
					box-sizing border-box

					font-size 25px
					font-family GothamProMedium

					color #fff

				.offers-item-heading-info
					display block
					width 100%

					font-size 16px

					padding-left 10px

					transition color 0.6s $cubic-transition

					color $color-darkgray


			.offers-item-content
				position absolute

				top 0
				right 0
				left 0

				width 100%
				height 100%

				overflow hidden

				.offers-item-content-img
					position absolute
					left 0
					top 130px

					display block

					width 100%
					height 100%

					object-fit cover

					transition top 0.6s $cubic-transition, filter 0.6s $cubic-transition


.offers
	.offers-items

		.offers-item
			&:hover
				.offers-item-heading
					.offers-item-heading-info
						color #fff

				.offers-item-content


					.offers-item-content-img
						top 0
						filter brightness(50%)



.home-news
	margin-top 155px

	.page-title
		font-size 25px
		font-family GothamProLight
		letter-spacing 2px

	.shares
		width 68%
		display inline-block

		vertical-align top

		margin-top 35px

		.shares-container-items
			overflow hidden

			.shares-item
				float left

				width 45%

				margin-right 5%
				margin-bottom 60px

		.home-shares-more
			width 340px
			font-size 22px
			color #fff

	.jornal-news
		width 31%
		display inline-block

		vertical-align top

		margin-top -55px

		.jornal-news-title
			display block
			width 100%

			margin-bottom 30px

			.jornal-news-title-number
				display inline-block

				margin-right 20px

				font-size 55px
				font-family GothamProMedium

				span
					font-family GothamProRegular
					font-weight 600

			.jornal-news-title-name
				font-size 16px


		.jornal-news-holder
			display block
			width 100%

			margin-bottom 20px

			&.animation-block
				opacity 1

				transform translateY(350px)

				transition opacity 0.2s $cubic-transition, transform 0.6s $cubic-transition

				&.animated
					transform translateY(0)
					opacity 1


			.jornal-news-holder-img
				display block
				width 100%

				transition filter 0.2s $cubic-transition

			&:hover
				.jornal-news-holder-img
					filter brightness(80%)


.home-comfort
	position relative
	display block
	width 100%
	height 625px

	margin-top 160px

	&:before
		content ""
		position absolute
		top 0
		left 0
		bottom 0

		width 100%
		height 100%

		background #5b3f92

		z-index -1000

		transition background 0.6s $cubic-transition

	&.hover-block
		&:before
			background:  #6a49ab

	.home-comfort-items
		display block
		width 100%
		height 625px

	.home-comfort-item-link
		position absolute

		display inline-block

		font-size 20px
		color #fff

		&:after
			content ""

			position absolute
			right -40px
			top 4px

			display block

			width 24px
			height 20px

			background url("../svg/icons/arrow_white_up.svg")
			background-repeat no-repeat

			transform rotate(90deg)

			transition transform 0.3s $cubic-transition

		&:hover
			&:after
				transform rotate(90deg) translateY(-10px) scaleY(1.3)


	.home-comfort-video
		position absolute
		top -55px
		left 20px

		width 525px
		height 280px

		background #fecc00


		&.animation-block
			opacity 1

			transform translateY(350px)

			transition opacity 0.5s $cubic-transition, transform 0.6s $cubic-transition, background 0.6s $cubic-transition

			&.animated
				transform translateY(0)
				opacity 1

		&.hover-block
			background  #ffdf50


		.home-comfort-item-link
			right 75px
			top 45px


		.home-comfort-video-holder
			position absolute
			top 80px
			left 95px

			width 350px
			height 355px

			z-index 200

			&:after
				content ""
				position absolute
				display block

				top 15px
				left 15px

				width 350px
				height 350px

				clip-path polygon(0 0, 0% 100%, 100% 50%)

				background rgba(0, 0, 0, 0.3)

				z-index -200

			.home-comfort-video-holder-img
				display block
				width 100%

				clip-path polygon(0 0, 0% 100%, 100% 50%)

	.home-comfort-logo
		position absolute

		width 500px
		height 170px

		top -55px
		right 25px

		&.animation-block
			opacity 1

			transform translateY(250px)

			transition opacity 0.6s $cubic-transition, transform 0.6s $cubic-transition,  background 0.6s $cubic-transition

			&.animated
				transform translateY(0)
				opacity 1

		.home-comfort-item-link
			top 140px
			left 10px

		.home-comfort-logo-holder
			position absolute
			top 0
			right 0

			width 135px
			height 135px

			.home-comfort-logo-holder-img
				display block
				width 100%

	.home-comfort-gallery
		position absolute

		bottom -40px
		left 280px


		width 270px
		height 270px

		background #e83b7d

		&.hover-block
			background:  #ff4089

		&.animation-block
			opacity 1

			transform translateY(150px)

			transition opacity 0.6s $cubic-transition, transform 0.8s $cubic-transition,  background 0.6s $cubic-transition

			&.animated
				transform translateY(0)
				opacity 1


		.home-comfort-item-link
			left 65px
			top 30px

		.home-comfort-gallery-holder
			position absolute
			top 150px
			right 125px

			width 300px
			height 300px

			z-index 200

			&:after
				content ""
				position absolute
				display block

				top 20px
				left 30px

				width 300px
				height 300px

				background rgba(0, 0, 0, 0.3)

				z-index -200

			.home-comfort-gallery-holder-img
				display block
				width 100%
				height 100%

	.home-comfort-about
		position absolute

		top 305px
		right 35px

		display block
		width 525px
		height 445px

		background #a7358c

		&.hover-block
			background  #c23ea3

		&.animation-block
			opacity 1

			transform translateY(250px)

			transition opacity 0.5s $cubic-transition, transform 0.6s $cubic-transition,  background 0.6s $cubic-transition

			&.animated
				transform translateY(0)
				opacity 1

		.home-comfort-item-title
			position absolute
			top -135px
			left 35px

			display block
			width 450px
			height 250px

			line-height 85px

			font-size 90px
			font-family GothamProMedium

			color #fff

		.home-comfort-item-prev
			position absolute
			left 45px

			display block
			width 350px

			top 205px


			font-size 14px
			line-height 32px

			color #fff

		.home-comfort-item-link
			bottom 50px
			left 45px


.home-welcome
	display block
	width 80%

	margin 0 auto
	margin-top 430px

	text-align center


	&.animation-block
		opacity 1

		transform translateY(150px)

		transition opacity 0.4s $cubic-transition, transform 0.8s $cubic-transition

		&.animated
			transform translateY(0)
			opacity 1


	.home-welcome-title
		position relative
		display inline-block
		font-size 68px

		font-family GothamProMedium

		margin-bottom 60px

		&:after
			content ""
			position absolute

			top -200px
			right -155px

			display block

			width 240px
			height 240px

			background-image url(../svg/icons/compass.svg)
			background-size contain
			background-repeat no-repeat
			z-index -100

	.home-welcome-time
		display inline-block

		margin-bottom 15px

		font-size 40px

	.home-welcome-phone
		display block
		width 100%

		margin-bottom  25px

		font-size 40px

	.home-welcome-location
		font-size 20px
		margin-bottom 95px

	.home-welcome-btn-map
		position relative
		display inline-block

		width 355px
		height 85px

		line-height: 85px
		font-size 20px

		margin-right 45px
		color #fff

		&:before
			content ""
			position absolute

			top 50%
			left 60px

			display block

			width 20px
			height 28px

			margin-top -14px

			background-image url(../svg/icons/point_map.svg)
			background-size contain
			background-repeat no-repeat
			z-index 100


	.home-welcome-btn-contacts
		display inline-block
		width 355px
		height 85px

		line-height: 85px
		font-size 20px

		color #fff

/*** //home page ***/


/*** concept page ***/

.concept
	position relative
	display block

	margin-top 50px

	.search
		top -70px
		right -5px
		width 312px


	.page-text
		.page-text-filelink
			margin-bottom 54px

			&:last-child
				margin-bottom 95px

		p
			margin-bottom 70px
/*** //concept page ***


/*** about page ***/

.about
	display block
	display block

	margin-top 50px

	.search
		top -70px
		right -5px
		width 312px

	.page-text
		cite
			margin-bottom 115px

		.docs
			margin-bottom 95px

			.docs-icon
				&:first-child
					margin-bottom 54px

		p
			margin-bottom 70px

	.about-information
		display block
		width 100%

		margin-top 85px

		.about-information-items
			display block
			width 100%

			.about-information-item
				position relative

				display block
				min-height 200px

				margin-bottom 100px


				&:nth-child(2n)
					.about-information-item-container
						float left
					.about-information-item-holder
						float right

						.about-information-item-img
							top -35px
							left 60%

				&:nth-child(2n-1)
					.about-information-item-container
						float right
					.about-information-item-holder
						float left

						.about-information-item-img
							top -35px
							right 60%

				.about-information-item-holder

					display block
					width 50%
					overflow hidden

					.about-information-item-img
						position absolute
						display block
						width 165px
						height 205px

						svg
							display block
							width 100%
							height 100%

				.about-information-item-container
					position relative
					display block
					width 50%

					.about-information-item-title
						display block
						width 100%

						margin-bottom 40px

						font-size 16px
						font-family GothamProBold

					.about-information-item-text
						display block
						width 100%

						line-height 25px
						font-size 16px


/*** //about page ***/

/*** 404 page ***/
.page404
	margin-top 45px

	.search
		top -120px
		right 125px
		width 310px


.page404-container
	display block
	width 60%

	padding 45px 115px 160px 115px

	box-shadow 0px 12px 40px -13px rgba(0,0,0,0.75)
	margin 0 auto

	margin-top 90px

	text-align center


	.page404-title
		display block

		font-size 32px
		line-height 40px
		text-align center

	.page404-home
		display inline-block
		margin-top 45px

		font-family GothamProRegular

		text-decoration none

		color $color-darkgray

		.page404-home-title
			vertical-align middle
			border-bottom 1px solid $color-darkgray
			transition border-color 0.3s $cubic-transition


		.page404-home-icon
			display block
			width 120px
			height 33px

			float left

			margin-right 50px

			background url("../svg/icons/arrow_yellow_right.svg")
			background-repeat no-repeat

			transform rotate(180deg) translateX(0)

			transition transform 0.3s $cubic-transition


		&:hover
			.page404-home-title
				border-bottom transparent

			.page404-home-icon
				transform rotate(180deg) translateX(30px)


/*** //404 page ***/

/*** search empty ***/
.search-empty
	.search
		top -50px
		width 625px
		left 275px

.search-empty-container
	display block

	height 300px
	width 80%
	margin 0 auto


	text-align center

	line-height 430px

	font-size 32px

/*** //search empty ***/



/*** scheme ***/


/** toltip **/


.tooltip_templates
	display none


.tooltipster-sidetip
	&.tooltipster-white
		.tooltipster-box
			background #fff
			border none
			border-radius 0

.tooltipster-sidetip
	&.tooltipster-white
		.tooltipster-content

			overflow hidden

			.no-info
				padding 20px
				box-sizing border-box
				font-size 16px
				color #000

			.tooltip-close
				position absolute
				right 25px
				top 15px

				display block
				cursor pointer

				span
					line-height 1
					font-size 20px

					color #000

					font-family GothamProRegular


			.tooltip-container
				position relative

				width 200px
				min-height 200px

				padding 30px 20px

				box-sizing border-box

				cursor text

				p
					display block
					width 100%

					margin-bottom 5px

					font-family GothamProLight
					font-size 16px
					color #000

				.tooltip-container-link
					display: block

					padding: 10px 15px
					box-sizing: border-box

					margin-top: 30px

					background $color-red
					color #fff

					transition opacity 0.3s $cubic-transition

					&:hover
						opacity 0.8




	&.tooltipster-top
	&.tooltipster-right
	&.tooltipster-left
	&.tooltipster-bottom
		.tooltipster-arrow
			width 25px
			height 25px

			overflow inherit

			.tooltipster-arrow-uncropped
				&:before
					content ""

					position: absolute
					width 0
					height 0

					border-left 2px solid transparent
					border-right 10px solid transparent
					border-top 20px solid #fff

				.tooltipster-arrow-border
					display none

				.tooltipster-arrow-background
					display none

	&.tooltipster-top
		.tooltipster-arrow
			bottom -15px

	&.tooltipster-bottom
		.tooltipster-arrow
			.tooltipster-arrow-uncropped
				&:before
					transform rotate(-180deg)

	&.tooltipster-right
		.tooltipster-arrow
			.tooltipster-arrow-uncropped
				&:before
					left 2px
					transform rotate(90deg)

	&.tooltipster-left
		.tooltipster-arrow
			.tooltipster-arrow-uncropped
				&:before
					right -8px
					transform rotate(-90deg)
/** //toltip **/


.scheme
	position relative

	display none
	width 100%
	margin-top 30px

	transform translateY(50px)
	opacity 0

	transition opacity 0.3s $cubic-transition, transform 0.5s $cubic-transition

	&.active-block
		display block

	&.active
		opacity 1
		transform translateY(0)

	.search
		top -160px
		right 125px
		width 310px

.scheme
	.search
		top -50px
		right 125px
		width 310px

		z-index 10000

	.scheme-information
		position absolute
		left 125px
		top -50px

		display block

		width 270px

		z-index 10000

		.scheme-information-floor-items
			display block
			width 100%

			.scheme-information-floor-item-select
				display block

			.scheme-information-floor-item
				display inline-block
				vertical-align top

				margin-right 10px
				margin-bottom 45px

				padding 20px

				border-radius 30px

				font-size 12px
				font-family GothamProRegular

				background #555555

				color #fff

				transition opacity 0.3s $cubic-transition

				&:hover
					opacity 0.8

				&:last-child
					margin-right 0

				&.active
					background $color-blue

			.jcf-select-scheme-information-floor-item-select
				position relative
				display none !important
				width 120px

				padding 20px
				box-sizing border-box

				border-radius 30px
				background $color-blue

				cursor pointer

				z-index 100000

				.jcf-select-text
					display block

					.jcf-option-scheme-information-floor-item
						position relative
						display block
						box-sizing border-box

						color #fff

						font-size 12px
						font-family GothamProRegular

						z-index 10

				.jcf-select-opener
					position absolute
					top 50%
					right 20px

					width 16px
					height 12px

					transform translateY(-50%)

					&:before
						content "^"
						display block
						width 100%
						height 100%

						font-size 28px
						line-height 1

						color #fff

						transform rotate(-180deg)

						transition transform 0.3s $cubic-transition

				&.jcf-drop-active
					border-bottom-right-radius 0px
					border-bottom-left-radius 0px
					.jcf-select-opener
						&:before
							transform rotate(0deg)

		.scheme-information-quantity
			display block
			width 50%

			.scheme-information-count-title
				display block
				width 100%

				margin-bottom 20px

				font-size 16px

			.scheme-information-count-count
				display block
				width 100%

				font-size 72px

				font-family GothamProMedium

	.scheme-container
		display block
		width 100%

		.scheme-inner-container
			display block
			width 100%
			height 100%
			min-height 100%

			transform rotate3d(-370, -100, -180, 60deg) translate3d(-135px, 5px, -80px)

			.scheme-inner-container-svg
				position relative
				display none

				opacity 0

				transition opacity 0.3s $cubic-transition, transform 0.3s $cubic-transition

				transform translate3d(30px,-70px, 0)

				z-index -10000

				&.active
					display block

				&.active-scheme-svg
					opacity 1
					transform translate3d(0,0,0)

			.scheme-inner-container-svg-clone
				position absolute
				display block
				width 100%
				max-height 100%
				height auto

				svg

				&.clone-1
					top 2px
					left -1px
					z-index -100
				&.clone-2
					top 5px
					left -2px
					z-index -200
				&.clone-3
					top 6px
					left -3px
					z-index -300
				&.clone-4
					top 8px
					left -4px
					z-index -400
				&.clone-5
					top 10px
					left -5px
					z-index -500
				&.clone-6
					top 12px
					left -6px
					z-index -600
				&.clone-7
					top 14px
					left -7px
					z-index -700
				&.clone-8
					top 16px
					left -7px
					z-index -800

		svg
			position relative
			display block

			width 95%
			max-height 100%
			height auto

			margin-left 2%

			will-change transform

			transition transform 0.3s $cubic-transition


			path
				cursor pointer

				transition fill .3s $cubic-transition

				&:hover
				&.active
					fill rgb(163, 47, 90)


	.scheme-controls
		position absolute
		right 125px
		top 100px

		display block
		width 90px

		.scheme-controls-question
		.scheme-controls-zplus
		.scheme-controls-zminus
			position relative
			display block
			float right

			width 50px
			height 50px

			margin-bottom 15px

			border-radius 50%

			background #555555

			text-align right

			transition opacity 0.3s $cubic-transition

			&:after
				position absolute
				top 50%
				left 50%

				font-size 20px
				line-height 1

				color #fff

				transform translate(-50%,-50%)

			&:hover
				opacity 0.8

		.scheme-controls-question-title
			display block
			width 100%

			text-align right

			font-size 14px

			margin-bottom 50px

		.scheme-controls-question
			&:after
				content "?"
				font-family GothamProLight

		.scheme-controls-zplus
			&:after
				content ""
				display block

				width 14px
				height 1px

				background #fff

			&:before
				content ""
				position absolute
				top 50%
				left 50%

				display block

				width 1px
				height 14px

				background #fff

				transform translate(-50%,-50%)

		.scheme-controls-zminus
			&:after
				content ""
				display block

				width 14px
				height 1px

				background #fff

/* drop jcf */
.jcf-select-drop
	&.jcf-select-scheme-information-floor-item-select
		display block
		.jcf-select-drop-content
			display block
			position relative

			padding 5px 20px 20px 20px

			background #a23f97

			border-bottom-right-radius 30px
			border-bottom-left-radius 30px

			z-index 1000

			.jcf-list-content
				ul
					li
						display block
						padding 10px 0

						font-size 12px

						color #fff
						cursor pointer

/* //drop jcf */

/*** popup conventions ***/

.popup-conventions
	position relative

	display block
	width 1040px
	height 340px

	margin 0 auto

.mfp-conventions.mfp-bg
	background-color rgba(255, 255, 255, 1)

.mfp-conventions.mfp-bg
	opacity 0

	transition opacity 0.3s $cubic-transition

	&.mfp-ready
		opacity 0.9

	&.mfp-removing
		opacity 0

.mfp-conventions.mfp-wrap
	.mfp-content
		opacity 0

		transform translateY(-50px)

		transition opacity 0.3s $cubic-transition, transform 0.3s $cubic-transition

	&.mfp-ready
		.mfp-content
			opacity 1

			transform translateY(0)

	&.mfp-removing
		.mfp-content
			opacity 0

			transform translateY(-50px)

.mfp-conventions
	.popup-conventions
		.mfp-close:not(.mfp-close-icn)
			right -30px
			top -180px

			display block

			width 50px
			height 50px

			border-radius 50%

			background #555555

			opacity 1

			transition opacity 0.3s $cubic-transition, transform 0.3s $cubic-transition

			&:hover
				opacity 0.8
				transform rotate(360deg)

			.mfp-close-icn
				position absolute
				top 50%
				left 50%

				width 10px
				height 10px

				margin 0
				padding 0

				transform translate(-50%,-50%)

				opacity 1


/*** //popup conventions ***/

.popup-conventions
	.popup-conventions-title
		display block
		width 100%
		margin-bottom 30px

		font-size 30px
		font-family GothamProRegular

	&--left
		display inline-block
		width 42%
		margin-right 8%

		.popup-conventions-color-items
			display block
			column-count 2
			column-gap 85px

			.popup-conventions-color-item
				display block
				width 240px

				margin-bottom 15px
				margin-right 15px

				.popup-conventions-color-item-mark
					display inline-block
					width 20px
					height 20px

					vertical-align top

					border-radius 50%

					margin-right 10px

				.popup-conventions-color-item-text
					display inline-block
					width 200px

					vertical-align middle

					font-size 14px
					font-family GothamProMedium

	&--right
		display inline-block
		width 44%
		vertical-align top

		.popup-conventions-icon-items
			display grid

			grid-template-columns 1fr 1fr 1fr
			grid-template-rows 1fr 1fr 1fr 1fr 1fr

			grid-gap 10px 40px

			.popup-conventions-icon-item
				display block
				width 140px

				margin-bottom 15px

				.popup-conventions-icon-item-holder
					display inline-block
					width 40px

					vertical-align middle

					margin-right 10px

					.popup-conventions-icon-item-holder-img
						display block
						width 100%

				.popup-conventions-icon-item-text
					display inline-block
					width 90px

					vertical-align middle

					font-size 14px
					font-family GothamProMedium


/** preloader **/


.page-preloader
	display none
	min-height 1000px

	.page-preloader-item
		position absolute
		left 50%

		display block

		&--floorbasement
			top 2%
			left 41%

			transform translate(-50%,-50px)
			opacity 0

			transition opacity 0.3s $cubic-transition, transform 0.6s $cubic-transition
			transition-delay 0.2s


		&--floor1

			transform translate(-50%,-70px)
			opacity 0

			transition opacity 0.3s $cubic-transition, transform 0.3s $cubic-transition
			transition-delay 0.4s


		&--floor2
			top 59%
			left 60%

			transform translate(-50%,-80px)
			opacity 0

			transition opacity 0.3s $cubic-transition, transform 0.3s $cubic-transition
			transition-delay 0.6s


		&--floor3
			top 16%
			left 43%

			transform translate(-50%,-110px)
			opacity 0

			transition opacity 0.3s $cubic-transition, transform 0.3s $cubic-transition
			transition-delay 0.8s


		&--floor4
			top 52%
			left 58%

			transform translate(-50%,-120px)
			opacity 0

			transition opacity 0.3s $cubic-transition, transform 0.3s $cubic-transition
			transition-delay 1s


		&--floor5
			top 16%
			left 33.5%

			transform translate(-50%,-130px)
			opacity 0

			transition opacity 0.3s $cubic-transition, transform 0.3s $cubic-transition
			transition-delay 1.2s


		&--floor6
			top 15%
			left 33%

			transform translate(-50%,-140px)
			opacity 0

			transition opacity 0.3s $cubic-transition, transform 0.3s $cubic-transition
			transition-delay 1.4s



		.page-preloader-item-holder
			display block

			.page-preloader-item-holder-img
				display block

	&.active-block
		display block
	&.active
		.page-preloader-item
			&--floorbasement
			&--floor1
			&--floor2
			&--floor3
			&--floor4
			&--floor5
			&--floor6
				opacity 1
				transform translate(-50%, 0px)


			.page-preloader-item-holder
				display block

				.page-preloader-item-holder-img
					display block





/** //preloader **/

/*** //scheme ***/



/*** //MAIN STYLES***/



/*** ADD STYLES ***/

/*----  this block for add styles ----*/

/*** //ADD STYLES ***/
