// Menu burger
.menu-burger
	position absolute
	left 0
	top 14px
	z-index 1000

	display block
	width 30px
	height 25px

	cursor pointer

	.menu-burger-inner
		position absolute
		left 0
		top 50%
		margin-top -2px

		width 100%
		height 4px

		border-radius 4px
		background-color red

		transition opacity 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940)

	&:before
	&:after
		content ""

		position absolute
		left 0

		display block
		width 100%
		height 4px

		border-radius 4px
		background-color red

		transition transform 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940)

	&:before
		top 0

	&:after
		bottom 0

	&.active
		.menu-burger-inner
			opacity 0

		&:before
			transform rotate(-45deg) translateY(10px) translateX(-5px)

		&:after
			transform rotate(45deg) translateY(-10px) translateX(-5px)

.menu-overlay
	position fixed
	z-index 10
	left 0
	top 0
	right 0
	bottom 0

	display none

.show-menu
	.menu-overlay
		display block
// //Menu burger



// Scroll
.mobile-scroll-holder
	overflow-x scroll
	overflow-y hidden

	.mobile-scroll
		white-space nowrap

	&::-webkit-scrollbar
		display none
// //Scroll



// Adaptive table
.adaptive-table
	display block

	thead
	tbody
	tfoot
	tr
	th
	td
		display block

	thead
		tr
			position absolute
			left -9999px
			top -9999px

	td
		position relative

		padding-left 50%

		&:before
			content attr(data-header)

			position absolute
			left 6px
			top 6px

			width 45%
			padding-right 5%

			white-space nowrap
// //Adaptive table



// Panels
.panel-title
	cursor pointer

.panel-content
	display none

	&.active
		display block
// //Panels



// Aside
.page
	overflow hidden

.page-content
	transition transform 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940)

// //


@media screen and (max-width: 1120px)
	.mfp-image-holder
	.mfp-iframe-holder
		.mfp-content
			max-width 75%


	.page-header
		.header-row

			.header-menu
				width 100%
				text-align center

				.header-menu-inner
					.header-menu-item-holder--has-submenu
						position relative

						.header-menu-level1
							left -1px

							background #fff

			.header-contacts
				display inline-block
				float none

				width 100%
				text-align center

				.header-contacts-phone
				.header-contacts-location
					display inline-block
					width 49%

					vertical-align top

					text-align center

	.page-content

		.shops-detail
			.shops-detail-information
				padding 90px 80px

		.home-promo
			margin-top 50px

			.home-promo-holder
				display block
				margin 0 auto

			.home-promo-count
				position relative
				top 170px
				left 225px

			.home-promo-search
				position relative
				top -165px
				left 660px

		.home-comfort
			.home-comfort-gallery
				left 175px

			.home-comfort-about
				right 20px

	.page-footer
		.footer-row

			.footer-creators
			.footer-copyrights
			.footer-social
				width 33%
				margin 0



@media screen and (max-width: 1055px)
	.page-content
		margin-top 20px


		.shops-detail
			margin-top 100px

			.shops-detail-col
				.shops-detail-description
						padding 50px 85px 10px 50px


		.home-promo
			margin-bottom 190px

			.home-promo-count
				display block

				top 50px
				left -30px

				margin 0 auto

				width 435px

				.home-promo-count-img
					top -40px
					left 350px

			.home-promo-search
				top 130px

				left -30px

				width 435px

				margin 0 auto

				.home-promo-search-img
					top -60px

					left 345px

		.home-comfort
			.home-comfort-video
				width 50%

			.home-comfort-logo
				width 40%

			.home-comfort-about
				top 395px
				width 50%

			.home-comfort-gallery
				width 30%


@media screen and (max-width: 990px)
	.page-header
		.header-menu
			.header-menu-inner
				.header-menu-item-holder
					.header-menu-item
						padding 5px 1px 5px 0px


	.page-content
		.article
			width 100%
			.article-img
				display block
				width 100%
			.page-title
				text-align left


		.gallery
			width 100%
			margin-left 0



		.shops-detail
			display flex
			flex-flow column-reverse

			.shops-detail-col
				display block
				width 100%
				float none

		.page-title
			margin-top 70px
			text-align center

		.shops
		.service
		.entertainment
		.search-empty
		.contacts
			margin-top 90px

			.search
				left 50%
				right auto

				transform translateX(-50%)

		.contacts
			margin-top 150px


		.search-empty
			.search-empty-container
				line-height 1
				height auto

				padding 100px 0

		.home-welcome
			margin-top 300px

			.home-welcome-location
				margin-bottom 35px

			.home-welcome-btn-map
				width 100%
				margin-bottom 15px
			.home-welcome-btn-contacts
				width 100%
				margin-bottom 15px

		.home-comfort
			height 100%

			.home-comfort-items
				height 1000px

			.home-comfort-video
				position relative
				left 5px

				display block
				width 98%

				.home-comfort-item-link
					right 20%

				.home-comfort-video-holder
					left 25%

			.home-comfort-logo
				position relative

				top -30px
				left 5px

				width 98%

				.home-comfort-item-link
					top 70px
					right 25%
					left auto


			.home-comfort-gallery
				position relative
				left 5px
				bottom 30px

				width 98%
				height 180px

				.home-comfort-gallery-holder
					top -30px
					right 20%

			.home-comfort-about
				position relative
				top 135px
				left 10px

				width 98%
				height 300px

				.home-comfort-item-prev
					top 160px
					width 80%

				.home-comfort-item-link
					top 80px
					right 20%

					left auto
					bottom auto

	.page-footer
		.footer-row
			display block
			overflow hidden

			.footer-creators
			.footer-copyrights
			.footer-social
				float left
				margin-bottom 15px
				width 50%

				vertical-align: top

				text-align center

			.footer-social
				float none
				width 320px
				margin 0 auto

				text-align right




@media screen and (max-width: 840px)
	.page-header
		.header-row
			.header-menu
				margin 0
	.page-content
		.home-comfort

			.home-comfort-about
				.home-comfort-item-title
					top -35px
					height 100px

					line-height 50px
					font-size 55px
		.offers
			.offers-items
				.offers-item
					.offers-item-heading
						.offers-item-heading-tag
							font-size 20px

		.shares
			.shares-container-items

				.shares-item
					width 46%

					margin-bottom 70px

					&:nth-child(2n)
						margin-right 0

					&:nth-child(2n-1)
						margin-right 6%


@media screen and (max-width: 768px)

	.application-form
		width 100%
		box-sizing border-box
		padding 70px 40px

		.form-title
			&:before
				left 5%


	.mobile-header
		display block

	.page-header
		display none

	.mfp-image-holder
	.mfp-iframe-holder

		&.mfp-container
			padding 0
			margin 0

		.mfp-content
			max-width 65%

	.page-content

		.contacts
			.contacts-items
				.contacts-item
					width 100%
					padding 40px 20px

			.contacts-departments
				.contacts-departments-items
					.contacts-departments-item
						display block
						width 100%
						margin-bottom 40px

			.contacts-application
				padding 50px 20px
				text-align center
				font-size 28px
				height auto

		.contacts-location
			padding 0 20px
			box-sizing border-box
			margin-bottom 50px

			.contacts-location-container
				flex-flow column

				.contacts-location-container-holder
					width 100%

				.contacts-location-container-map
					width 100%
					height 500px



		.gallery
			.gallery-container-items
				padding 0 20px
			.gallery-container-item
				width 100%

				margin 0
				margin-bottom 50px


		.article
			margin-top 120px

		.navigation
			height auto
			width 150px

			top -35px
			right 20px


			.navigation-item
				display inline-block
				float right

				top -30px

				margin-right 20px
				margin-bottom 0

				vertical-align top

				&--next
					margin-top 10px

				&--prev
					margin-top 10px

				&--close
					margin-right 0px

		.page-title
			margin-top 100px

		.acordeon-container-items
			.acordeon-container-item
				.acordeon-container-item-header
					.acordeon-container-item-header-name
					.acordeon-container-item-header-count
						font-size 20px

				.acordeon-container-item-content
					column-count 2


		.home-comfort

			.home-comfort-logo
				.home-comfort-item-link
					right 30%


			.home-comfort-gallery
				bottom 15px

				.home-comfort-gallery-holder
					right 10%


		.home-promo
			margin-top 80px


		.offers
			.offers-items
				&:before
					top 80%

				.offers-item
					width 95%

		.home-news
			margin-top 50px

			.shares
				width 100%

			.jornal-news
				display block
				width 100%

				vertical-align top
				margin-top 30px

				.jornal-news-holder
					display inline-block
					width 48%

					vertical-align top

					margin-right 4%

					&:last-child
						margin 0

		.home-welcome
			.home-welcome-title
				font-size 60px

			.home-welcome-time
			.home-welcome-phone
				font-size 32px

			.home-welcome-location
				font-size 18px


@media screen and (max-width: 640px)
	.application-form
		padding 70px 20px

		.form-title
			margin-top 30px
			&:before
				content ""
				background none

	.page-content

		.page-title
			&.page-title--big
				font-size 30px


		.similar-shares
			.similar-shares-items
				.similar-shares-item
					width 100%
					float none
					margin-bottom 50px

					.similar-shares-item-heading
						display block
						width 100%

						.similar-shares-item-photo
							display block
							width 100%

				.similar-shares-item-content
					.similar-shares-item-content-title
						font-size 38px

		.shares
			.shares-container-items
				.shares-item
					width 100%
					margin-right 0

				.shares-item-heading
					.shares-item-photo-holder
						display block
						width 100%

						.shares-item-photo
							width 100%

		.search-empty
			.search
				width 100%


		.home-comfort

			.home-comfort-items
				width 108%
				margin-left -5%



			.home-comfort-video
			.home-comfort-logo
			.home-comfort-gallery
			.home-comfort-about
				width 102%
				left 0

			.home-comfort-video
				.home-comfort-video-holder
					left 10%

				.home-comfort-item-link
					top 80px


			.home-comfort-logo
				top 25px
				height 180px

				.home-comfort-item-link
					top 80px
					right 40%

				.home-comfort-logo-holder
					right 5%

			.home-comfort-gallery
				height 250px

				margin-top 70px

				.home-comfort-item-link
					top 80px

			.home-comfort-about
				top -30px

				height 350px

				.home-comfort-item-title
					top 55px

				.home-comfort-item-prev
					left 38px
					top 165px

				.home-comfort-item-link
					top auto
					bottom 50px

			.home-comfort-gallery
				.home-comfort-gallery-holder
					right 10%

		.home-welcome
			margin-top 340px

			.home-welcome-title
				&:after
					right -60px


@media screen and (max-width: 600px)
	.page-content


		.contacts-location
			.contacts-location-title
				&:after
					right 2%
					z-index -100



		.home-comfort
			.home-comfort-video
				height 380px

				.home-comfort-item-link
					top 50px
					right 50%
					transform translateX(70%)

			.home-comfort-logo
				height 190px

				.home-comfort-logo-holder
					width 200px
					height 200px
					top -60px
					right 10%

				.home-comfort-item-link
					top 90%
					left 15%
					right auto
					transform translateX(-20%)

			.home-comfort-gallery
				height 370px

				.home-comfort-gallery-holder
					top 20%
					left 10%
					right auto

				.home-comfort-item-link
					top 10%
					left auto
					right 20%
					transform translateX(20%)

			.home-comfort-about
				.home-comfort-item-link
					bottom 30px


		.home-welcome
			width 100%
			margin-top 570px

	.page-footer
		height 150px
		.footer-row
			display block
			width 100%

			.footer-copyrights
			.footer-creators
			.footer-social
				display block
				text-align center
				float none

				width auto

			.footer-social
				.footer-social-title
					float none
					vertical-align: top

@media screen and (max-width: 550px)
	.mfp-gallery
		.mfp-container
			.mfp-gallery-arrow
				top 40%

			.mfp-gallery-arrow--left
				left -45px

			.mfp-gallery-arrow--right
				right -45px

			.mfp-content
				.mfp-close
					top -50px
					right -45px

	.page-content

		.gallery
			.gallery-container-item--video:after
				border-top 40px solid transparent
				border-left 85px solid #e83b7d
				border-bottom 40px solid transparent


		.contacts

			.contacts-welcome
				.contacts-welcome-title
					font-size 24px

			.contacts-departments
				margin-top 50px

				.contacts-departments-title
					font-size 24px
					margin-bottom 30px

				.contacts-departments-items
					.contacts-departments-item
						.contacts-departments-item-phone
							font-size 24px


			.contacts-items
				.contacts-item
					width 100%
					padding 10px 0px

					.contacts-employees-holder
						display block
						width 100%

						margin-left 0
						margin-right 0

						.contacts-employees-holder-img
							width 100%
							height 100%

					.contacts-employees-description
						width 100%
						margin 50px 0

			.contacts-departments
				.contacts-departments-items
					.contacts-departments-item
						display block
						width 100%
						margin-bottom 40px

			.contacts-application
				padding 50px 20px
				text-align center
				font-size 28px
				height auto


		.page-title
			&.page-title--big
				line-height 1
				margin-top 140px

		.navigation
			top -40px

		.article
			.page-text
				p
					font-size 20px

		.similar-shares
			.similar-shares-title
				font-size 22px
				margin-bottom 20px

		.shops-detail
			.shops-detail-col
				.shops-detail-description
					padding 20px

					.shops-detail-shares
						.shops-detail-shares-item
							.shops-detail-shares-item-discount
								padding 15px 0 10px 5px

						.shops-detail-shares-title
							font-size 22px

				.shops-detail-information
					padding 80px 20px

					.shops-detail-scheme-link
						font-size 18px
						width 100%

					.social-container
						text-align right

						.social-container-text
							margin-left 0
							margin-right 0

		.search-empty
			.search-empty-container
				font-size 26px

		.acordeon-container-items
			.acordeon-container-item
				.acordeon-container-item-header
					.acordeon-container-item-header-name
					.acordeon-container-item-header-count
						font-size 18px

				.acordeon-container-item-content
					column-count 1


		.home-promo
			.home-promo-holder
				width 100%

			.home-promo-count
				left 0
				width 100%


				.home-promo-count-title
					font-size 90px

				.home-promo-count-text
					font-size 18px

				.home-promo-count-img
					left 75%

			.home-promo-search
				left 0
				width 100%

				.home-promo-search-img
					left 70%

				.home-promo-search-title
					font-size 20px

				.home-promo-search-link
					display table
					font-size 30px
		.home-news
			.shares
				.shares-container-items
					.shares-item
						width 100%
						margin-right 0
						margin-bottom 80px

						.shares-item-heading
							.shares-item-photo-holder
								width 100%
								height 100%

								.shares-item-photo
									width 100%

				.home-shares-more
					width 100%

			.jornal-news
				margin-top 80px

				.jornal-news-holder
					width 100%
					margin-bottom 50px

		.home-welcome
			.home-welcome-title
				text-align left

			.home-welcome-location
				a
					margin-top 10px
					display inline-block



@media screen and (max-width: 430px)

	.mfp-form
		.mfp-content
			.application-form
				button
					&.mfp-close
						top 10px
						right 10px

	.application-form
		padding 70px 10px

		.form-title
			font-size 24px
			margin-bottom 20px

		.form-items
			.form-information
				font-size 20px
				padding 0

			.form-container-item
				span
					&.form-item--error
						bottom -30px
						text-align center
						width 100%


				.form-container-item-name
					padding 0
					font-size 16px

				.form-item-submit
					width 100%

				.jcf-file
					.jcf-fake-list
						width 100%
						padding 0
						margin-bottom 10px

					.jcf-upload-button
						width 100%
						padding 0
						margin 0
						margin-bottom 40px

			.form-container-item-columns
				flex-flow column

				.form-container-item-list
					padding 0



	.page-content

		.gallery
			.gallery-container-item
				.gallery-container-item-title
					font-size 12px

					top 5px
					left 5px
					right 5px

		.shares
			.load-more
				.load-more-btn
					width 100%

		.article
			.page-text
				p
					font-size 16px

		.search-empty
			.search-empty-container
				font-size 18px

		.home-promo
			.home-promo-count
				left 0
				width 100%

				.home-promo-count-title
					font-size 66px

				.home-promo-count-img
					left 65%
					top 20px
					width 100px

			.home-promo-search
				top 80px

				.home-promo-search-title
					font-size 16px

				.home-promo-search-link
					font-size 26px

				.home-promo-search-img
					left 65%
					top 20px
					width 100px


		.home-comfort

			.home-comfort-items
				width 120%
				margin-left -8%

			.home-comfort-logo
				height 250px

				.home-comfort-logo-holder
					top -5px

			.home-comfort-video
				.home-comfort-video-holder
					width 250px

					&:after
						width 250px
						height 250px

			.home-comfort-gallery
				.home-comfort-gallery-holder
					width 250px
					height 250px

					&:after
						width 250px
						height 250px


			.home-comfort-video
			.home-comfort-gallery
			.home-comfort-logo
			.home-comfort-about
				.home-comfort-item-link
					left 20%
					right auto
					transform translateX(20%)

			.home-comfort-about
				.home-comfort-item-title
					font-size 30px
					width 80%

				.home-comfort-item-prev
					top 150px
					line-height 30px

				.home-comfort-item-link
					bottom 15px
		.home-welcome
			margin-top 650px

			.home-welcome-title
				font-size 40px

			.home-welcome-time
			.home-welcome-phone
				font-size 26px

			.home-welcome-location
				font-size 16px


			.home-welcome-btn-map
			.home-welcome-btn-contacts
				font-size 16px

	.page-footer
		.footer-row
			.footer-copyrights
			.footer-creators
			.footer-social
				font-size 12px

			.footer-creators
				.footer-creators-title
					margin-bottom 10px
					display block

			.footer-social
				.footer-social-title
					display block
					margin-bottom 15px
