.icon-WC-before:before
.icon-WC-after:after
	content ''

.icon-WC-before:before
.icon-WC-after:after
.icon-WC-inner
	vertical-align middle

	display inline-block
	width 38px
	height 23px

	background url(../i/sprite.png) no-repeat -286px 0px

.transition-icon-item.icon-WC-inner
	margin-left -(38px / 2)
	margin-top -(23px / 2)
.icon-atelier-before:before
.icon-atelier-after:after
	content ''

.icon-atelier-before:before
.icon-atelier-after:after
.icon-atelier-inner
	vertical-align middle

	display inline-block
	width 44px
	height 43px

	background url(../i/sprite.png) no-repeat -64px -96px

.transition-icon-item.icon-atelier-inner
	margin-left -(44px / 2)
	margin-top -(43px / 2)
.icon-bowling-before:before
.icon-bowling-after:after
	content ''

.icon-bowling-before:before
.icon-bowling-after:after
.icon-bowling-inner
	vertical-align middle

	display inline-block
	width 41px
	height 40px

	background url(../i/sprite.png) no-repeat -225px 0px

.transition-icon-item.icon-bowling-inner
	margin-left -(41px / 2)
	margin-top -(40px / 2)
.icon-cleaner&#x27;s-before:before
.icon-cleaner&#x27;s-after:after
	content ''

.icon-cleaner&#x27;s-before:before
.icon-cleaner&#x27;s-after:after
.icon-cleaner&#x27;s-inner
	vertical-align middle

	display inline-block
	width 42px
	height 40px

	background url(../i/sprite.png) no-repeat -61px -160px

.transition-icon-item.icon-cleaner&#x27;s-inner
	margin-left -(42px / 2)
	margin-top -(40px / 2)
.icon-escalators-before:before
.icon-escalators-after:after
	content ''

.icon-escalators-before:before
.icon-escalators-after:after
.icon-escalators-inner
	vertical-align middle

	display inline-block
	width 39px
	height 39px

	background url(../i/sprite.png) no-repeat -60px -221px

.transition-icon-item.icon-escalators-inner
	margin-left -(39px / 2)
	margin-top -(39px / 2)
.icon-family_funny-before:before
.icon-family_funny-after:after
	content ''

.icon-family_funny-before:before
.icon-family_funny-after:after
.icon-family_funny-inner
	vertical-align middle

	display inline-block
	width 44px
	height 44px

	background url(../i/sprite.png) no-repeat 0px -96px

.transition-icon-item.icon-family_funny-inner
	margin-left -(44px / 2)
	margin-top -(44px / 2)
.icon-gym-before:before
.icon-gym-after:after
	content ''

.icon-gym-before:before
.icon-gym-after:after
.icon-gym-inner
	vertical-align middle

	display inline-block
	width 43px
	height 39px

	background url(../i/sprite.png) no-repeat -123px -160px

.transition-icon-item.icon-gym-inner
	margin-left -(43px / 2)
	margin-top -(39px / 2)
.icon-icon-shop-before:before
.icon-icon-shop-after:after
	content ''

.icon-icon-shop-before:before
.icon-icon-shop-after:after
.icon-icon-shop-inner
	vertical-align middle

	display inline-block
	width 41px
	height 41px

	background url(../i/sprite.png) no-repeat 0px -160px

.transition-icon-item.icon-icon-shop-inner
	margin-left -(41px / 2)
	margin-top -(41px / 2)
.icon-kino-before:before
.icon-kino-after:after
	content ''

.icon-kino-before:before
.icon-kino-after:after
.icon-kino-inner
	vertical-align middle

	display inline-block
	width 44px
	height 43px

	background url(../i/sprite.png) no-repeat -161px 0px

.transition-icon-item.icon-kino-inner
	margin-left -(44px / 2)
	margin-top -(43px / 2)
.icon-logo-before:before
.icon-logo-after:after
	content ''

.icon-logo-before:before
.icon-logo-after:after
.icon-logo-inner
	vertical-align middle

	display inline-block
	width 77px
	height 76px

	background url(../i/sprite.png) no-repeat 0px 0px

.transition-icon-item.icon-logo-inner
	margin-left -(77px / 2)
	margin-top -(76px / 2)
.icon-parking-before:before
.icon-parking-after:after
	content ''

.icon-parking-before:before
.icon-parking-after:after
.icon-parking-inner
	vertical-align middle

	display inline-block
	width 37px
	height 38px

	background url(../i/sprite.png) no-repeat -119px -221px

.transition-icon-item.icon-parking-inner
	margin-left -(37px / 2)
	margin-top -(38px / 2)
.icon-pharmacy-before:before
.icon-pharmacy-after:after
	content ''

.icon-pharmacy-before:before
.icon-pharmacy-after:after
.icon-pharmacy-inner
	vertical-align middle

	display inline-block
	width 44px
	height 44px

	background url(../i/sprite.png) no-repeat -97px 0px

.transition-icon-item.icon-pharmacy-inner
	margin-left -(44px / 2)
	margin-top -(44px / 2)
.icon-playgrounds-before:before
.icon-playgrounds-after:after
	content ''

.icon-playgrounds-before:before
.icon-playgrounds-after:after
.icon-playgrounds-inner
	vertical-align middle

	display inline-block
	width 40px
	height 40px

	background url(../i/sprite.png) no-repeat -225px -120px

.transition-icon-item.icon-playgrounds-inner
	margin-left -(40px / 2)
	margin-top -(40px / 2)
.icon-point_map_small-before:before
.icon-point_map_small-after:after
	content ''

.icon-point_map_small-before:before
.icon-point_map_small-after:after
.icon-point_map_small-inner
	vertical-align middle

	display inline-block
	width 21px
	height 26px

	background url(../i/sprite.png) no-repeat -286px -43px

.transition-icon-item.icon-point_map_small-inner
	margin-left -(21px / 2)
	margin-top -(26px / 2)
.icon-pool-before:before
.icon-pool-after:after
	content ''

.icon-pool-before:before
.icon-pool-after:after
.icon-pool-inner
	vertical-align middle

	display inline-block
	width 41px
	height 40px

	background url(../i/sprite.png) no-repeat -225px -60px

.transition-icon-item.icon-pool-inner
	margin-left -(41px / 2)
	margin-top -(40px / 2)
.icon-restaurants-before:before
.icon-restaurants-after:after
	content ''

.icon-restaurants-before:before
.icon-restaurants-after:after
.icon-restaurants-inner
	vertical-align middle

	display inline-block
	width 43px
	height 44px

	background url(../i/sprite.png) no-repeat -161px -63px

.transition-icon-item.icon-restaurants-inner
	margin-left -(43px / 2)
	margin-top -(44px / 2)
.icon-stern-before:before
.icon-stern-after:after
	content ''

.icon-stern-before:before
.icon-stern-after:after
.icon-stern-inner
	vertical-align middle

	display inline-block
	width 40px
	height 40px

	background url(../i/sprite.png) no-repeat 0px -221px

.transition-icon-item.icon-stern-inner
	margin-left -(40px / 2)
	margin-top -(40px / 2)
.icon-wardrobe-before:before
.icon-wardrobe-after:after
	content ''

.icon-wardrobe-before:before
.icon-wardrobe-after:after
.icon-wardrobe-inner
	vertical-align middle

	display inline-block
	width 36px
	height 37px

	background url(../i/sprite.png) no-repeat -176px -221px

.transition-icon-item.icon-wardrobe-inner
	margin-left -(36px / 2)
	margin-top -(37px / 2)
