.icon-icon-shop-before:before
.icon-icon-shop-after:after
	content ''

.icon-icon-shop-before:before
.icon-icon-shop-after:after
.icon-icon-shop-inner
	vertical-align middle

	display inline-block
	width 41px
	height 41px

	background url(../i/sprite.png) no-repeat -97px 0px

.transition-icon-item.icon-icon-shop-inner
	margin-left -(41px / 2)
	margin-top -(41px / 2)
.icon-logo-before:before
.icon-logo-after:after
	content ''

.icon-logo-before:before
.icon-logo-after:after
.icon-logo-inner
	vertical-align middle

	display inline-block
	width 77px
	height 76px

	background url(../i/sprite.png) no-repeat 0px 0px

.transition-icon-item.icon-logo-inner
	margin-left -(77px / 2)
	margin-top -(76px / 2)
.icon-point_map_small-before:before
.icon-point_map_small-after:after
	content ''

.icon-point_map_small-before:before
.icon-point_map_small-after:after
.icon-point_map_small-inner
	vertical-align middle

	display inline-block
	width 21px
	height 26px

	background url(../i/sprite.png) no-repeat 0px -96px

.transition-icon-item.icon-point_map_small-inner
	margin-left -(21px / 2)
	margin-top -(26px / 2)
